[2017-04-19 14:09] ddribin commented on #141
You know, I *did* actually read that part of the README at one point, but it didn't make sense at the time, so I forgot about it. I agree that training my own eyes is the best investment, but that's always tricky. You don't know what you don't know! I can definitely see blockiness and other minor artifacts, but I'm sure there's other stuff I don't currently notice that I should. I'm not confident

[2017-04-19 14:50] donmelton commented on #141
@ddribin Sorry, I somehow missed that warning message issue in my still feverish state yesterday.

I'm not sure I would call that a bug in `transcode-video` or an unhelpful feature. :) This is because `transcode-video` automatically forces the H.264 encoder level for each resolution to remain compatible with certain playback devices, particularly older Apple TVs and iPods. And it does this regardl

[2017-04-19 15:37] ddribin commented on #141
@donmelton Thanks, will try that! And thanks again for all your help. I'm still learning a lot, here. Rest, and feel better!

[2017-04-19 15:39] donmelton commented on #141
@ddribin Thanks! I'll keep this open for awhile until you get a chance to try that. Besides, I'm sure you'll have another set of questions by this weekend. :) Plus, I'm enjoying the conversation.

[2017-04-20 00:20] beetwaaf opened #143 "x264_10bit support."
I'd love to get some official 10bit support. I've managed to patch it in myself but I've probably broken something in the process.
I tried all commands I could think of, and while I did manage to get the commands to process, they were then overriden by the built-in defaults resulting in a 8bit file in the end.

[2017-04-20 00:49] donmelton commented on #143
@beetwaaf 10-bit support is dependent on HandBrake. There's nothing that `transcode-video` does to affect that. Did you build a patched version of `HandBrakeCLI` for your experiments? From your description, it's unclear who was overriding what. Please elaborate.

[2017-04-20 01:43] beetwaaf commented on #143
These are my settings:
transcode-video D:\Transcoding\Movie.mkv --quick --no-auto-burn --no-audio -E vbv-maxrate=0000 -E vbv-bufsize=0000 --output D:\Transcoding\Transcoded.mkv

When I then added in the -H encoder=x264_10bit option this would not take effect with transcode-video.
It does however when I try to set the encoder in handbrakeCLI bypassing your program.

What I changed was the encoder o

[2017-04-20 02:35] donmelton commented on #143
@beetwaaf OK, now I see what you mean. Yes, this is a stupid "limitation" in `transcode-video`, meaning we should treat it as a bug. :) I can fix that.

If I allow `x264_10bit` as an encoder name, then I suppose I should also allow `x265_10bit`, `x265_12bit` and `x265_16bit`.

I can also automatically set the profile to `high10` when `x264_10bit` is selected.

I'm not sure what you mean by `x265`

[2017-04-20 02:40] donmelton commented on #143
@beetwaaf BTW, this will likely take some time to test so I wouldn't expect the fix to be released until this weekend. Sorry about that.

And thanks again for filing this! Seriously.

[2017-04-20 02:45] beetwaaf commented on #143
What I meant with the x265 line was that both x264 and x265 have their own dedicated arguments and that to have 10bit support it also need to have its own dedicated arguments. You addressed this in your reply to me.
As for reporting it, no problem, I just want to help whenever I feel like I can.
Dont feel rushed either, having it addressed at some point is enough for me.

[2017-04-20 02:46] donmelton commented on #141
@ddribin It turns out I'll be making a change to `transcode-video` soon in the same area of the source code as your suggested encoder level enhancement, so I'll likely implement your feature at the same time. Comedy is all about timing. :)

[2017-04-20 02:50] donmelton commented on #143
@beetwaaf Oh cool, I was hoping that's what you meant. :) But I'll address this soon because I hate having stupid bugs get in the way of users like you who want to push the tools.

BTW, if you want to send me your patch, I'll gladly take a look at it. It couldn't hurt and we might both learn something in the process. But no worries.

Cheers!

[2017-04-20 12:06] klogg416 commented on #143
@beetwaaf, @donmelton My information might be out of date, but a couple of
months ago if you wanted to encode in 10 and 12 bits then you needed to
download some additional DLL files and drop them in the directory with the
handbrake binary.

This is the link to the DLLs in the forum, last updated 3/18 (each post in
that thread provides updated versions, scroll to the bottom).
https://forum.handbrak

[2017-04-20 13:27] beetwaaf commented on #143
@klogg416
I'm aware, the issue was with the scripts not interperating the -handbrake-option command properly with the 10bit encoder

@donmelton
It's not really a patch, rather a hack. What I did was replace
'encoder' => 'x264' with 'encoder' => 'x264_10bit' under def process_input(arg)
why I don't know, but it seems like just changing
case encoder
when 'x265'
        handbrake_options['encoder-pro

[2017-04-23 11:20] MelkorLord opened #144 "Missing a way to only copy audio/subtitles"
Hi,

I have a load of H264 documentaries I want to keep for archiving. No matter what I try, there's no way to ask <code>transcode-video</code> to **ONLY COPY** audio/subtitle streams without it trying to encode them.

I use a shell alias to specify default command line options like this :

<code>alias TV='transcode-video --no-auto-burn --handbrake-option encoder=x265 --add-subtitle all --copy-aud

[2017-04-24 03:21] donmelton commented on #144
@MelkorLord Sorry I took so long to reply. I'm actually fighting out a pesky virus right now. Pro tip: take your vitamin C.

If you want to copy all your audio tracks in their original format, don't use the `--prefer-ac3` option because it will force tracks not already in AC-3 format to be re-transcoded.

Your subtitles are being converted to ASS/SSA format because that's just how HandBrake and th

[2017-04-24 08:35] samhutchins commented on #144
I guess you could use the `--no-audio` thing in transcode-video to get the h.264 stream, then use mkvmerge gui from [here](https://mkvtoolnix.download/downloads.html) to mux in the audio and subtitles from the original file

Not ideal, but the remuxing step at the end really quick

[2017-04-24 16:59] MelkorLord commented on #144
@donmelton Since you helped me a lot by creating `transcode-video`, especially the "rate control" part which makes sense and is brilliantly put to use, I'll try to help you a bit :smile:  As often as you can (could be everyday), use green tea, with ***under boiling*** water, infuse for 5mins (for the useful tannoids to kick in, 2-3 min is only for the taste) but no longer than 7-8 min to avoid oxi

[2017-04-24 17:53] MelkorLord opened #145 "[SUGGESTION] Ruleset in --target option"
Hi,

I use `transcode-video` exclusively to transcode H264/AVC MKV files to H265/HEVC with audio untouched to reduce storage space while preserving the visual quality to the highest point. ***[1]***

For the typical common cases `--target 720p=1500 --target 1080p=2600` works nicely but I've checked a big bunch of my MKV files and it turns out that their inner bitrate fluctuates a lot! Some older m

[2017-04-24 19:12] donmelton commented on #144
@MelkorLord Thanks for the medical advice.

Now that I see what you're doing with that script, your audio option hacks are completely unnecessary. Just add `--audio-width all=surround` before your call to `--add-audio=all --copy-audio all`. That will prevent the extra copy of the main audio track being created and it will allow wider, i.e. surround tracks, elsewhere.

Why do I persist in creating

[2017-04-24 21:17] donmelton commented on #145
@MelkorLord Thanks for opening this issue for discussion. Hopefully we can get some other comments.

This is an interesting idea although I'm not fond of the syntax. I'm also not sure if precise percentages are necessary since somewhere between 60 to 80% would work fine in most cases.

Most users don't realize it -- and there's a good reason that they don't -- but `transcode-video` does something

[2017-04-25 04:23] MelkorLord commented on #144
@donmelton

***1/*** Ok then. After extensive tests with various files from different sources and really various audio tracks, all the resulting files ended up in "audio passthru" mode without additional/undesired AAC tracks.

This really should end up in some kind of FAQ because without your help, I wouldn't have been able to find such a trick to achieve what I wanted, hence the "overkill" Handbr

[2017-04-25 04:29] donmelton commented on #144
@MelkorLord Well, I'm just glad it worked for you in the end. :) I'll see about adding to the documentation but I do explain audio pretty thoroughly here:

https://github.com/donmelton/video_transcoding#understanding-audio

I'll close this now but feel free to keep commenting.

[2017-04-25 04:29] #144 closed

[2017-04-25 04:46] MelkorLord commented on #145
@donmelton On my first try with `transcode-video` I totally missed the `--target` option and after 2h encoding of 2 ~50min documentaries, all the resulting files were more or less the same size as the originals. A quick look with `mediainfo` showed quite the same bitrate but definitely not below or equal to 80% of the original! Maybe because I'm using exclusively the x265 encoder perhaps?

You are

[2017-04-25 04:59] MelkorLord commented on #144
@donmelton I read that part of the documentation several times to make sure I wasn't missing anything, yet, without the solution you provided, I couldn't figure out by myself how to make sure that only original and untouched audio was copied. Well, now I know how thanks to you.

Side note: I've encoded quite a bunch of files now and I really have to say that I'm quite impressed by your settings, t

[2017-04-25 05:12] donmelton commented on #144
@MelkorLord You are very welcome, sir, and thank you for the appreciation. :)

[2017-04-27 21:18] donmelton commented on #143
@beetwaaf I'm finally getting to this today. Sorry it's taking so long but the virus and seasonal allergies are really kicking my ass. Anyway...

My patch is very simple:

[code]

And it seems to pass the correct options through to `HandBrakeCLI`. However, as @klogg416 has pointed out, it's all for naught without the external libraries. And those libraries don't seem to be available for macOS. So

[2017-04-27 21:28] donmelton commented on #143
@beetwaaf and @klogg416 I'm changing this from a bug to an enhancement request. I think we have to wait on official binaries from the HandBrake team before we make this change. Let me know what you think.

[2017-04-27 22:56] beetwaaf commented on #143
@donmelton
Tested the patch and with just a couple of quick tests it all seems to work perfectly, maybe something'll crop up but I myself can't see any issues.

As for including it in release. It's entirely up to you, I'd however wager that anyone interested in 10bit would know enough to be able and patch it in themselves from your previous post.
Thanks a lot for providing a solution.

[2017-04-28 00:12] donmelton commented on #143
@beetwaaf Well, it's good to know that it works. :) Seriously, thanks for testing that. I'll consider landing it anyway but it always makes me nervous changing that particular section of code.

[2017-05-01 04:17] ddribin commented on #141
BTW, I *finally* got around to trying the workaround, and it works great. But I did need to use level 4.2. Level 4.1 still ha a limit of 30fps for 1080p. I found [this table](https://en.wikipedia.org/wiki/H.264/MPEG-4_AVC#Levels) very helpful, as it also explained what a "level" is.

[2017-05-01 04:20] donmelton commented on #141
@ddribin Yep, I was just looking at that table again yesterday. I think if you use `--handbrake-option encoder-level=auto` that should get you the same result. That way you can forget about the table. :)

And let me know if that works! :)

[2017-05-06 03:19] forty2 opened #146 "Can't (directly) copy commands from detect-crop on Windows"
First, a big "thank you" for the time and effort you've put into these scripts -- they've been producing great results for me ever since I found them.

One minor annoyance I've come across, though, is that when I'm using Windows to detect crop values, I can't directly copy and paste the preview commands out of the `detect-crop` output.

`detect-crop` produces commands that look like this:
[code]
b

[2017-05-06 04:26] donmelton commented on #146
@forty2 You are very welcome, sir! I'm glad they're working for you.

And my apologies for the bug, but I can't easily fix that since Ruby doesn't provide a way for me to escape strings in a cross-platform way other than the `shellescape` mechanism designed for Bourne-compatible shells. It doesn't really work for `cmd.exe` on Windows.

I thought I had documented that in the "README" but apparently

[2017-05-06 08:24] forty2 commented on #146
Well, that's a bummer, but thanks for the explanation.  I hadn't thought to try PowerShell; unfortunately it doesn't work either (the single quotes are fine, but it still can't figure out the backslashes), but that did prompt me to think of trying the bash that comes with Git.  And that worked just fine (as one might expect).

So, bottom line, I've got a useful workaround.  Thanks!  (A note in the

[2017-05-06 15:47] donmelton commented on #146
@forty2 Whoops! It looks like I closed this last night when I thought I was only commenting on it. That's what I get for drinking my dinner. :) My sincere apologies for being so fat fingered.

And thanks for finding that incredibly simple workaround. I'll probably add that to the "README" as well.

But I hope @samhutchins can suggest a real fix for this since he's one of our resident Windows exper

[2017-05-06 15:48] donmelton commented on #146
@forty2 Also, thanks so trying PowerShell so quickly. I don't have access to my Windows computer where I am at the moment so testing is a bit tricky for me.

[2017-05-07 09:36] samhutchins commented on #146
On Windows if you wrap the filename in double quotes it works, is that not the case on other platforms?

[2017-05-07 10:23] samhutchins commented on #146
I've done a little bit of digging, and made a local change to demonstrate the idea:

[code]

The result of this change:
[code]

This makes the command directly copy-able on Windows, but effectively reverts 96c490511c5f2fef445791c405acbe3c4333058c in the process. I dunno how to deal with Z shells without breaking Windows. Not to say it can't be done, just that I've never used (or really heard of) Z

[2017-05-07 16:07] donmelton commented on #146
@samhutchins Thanks for doing all this detective work, testing and coming up with a patch! You are thorough, as usual.

And you're right about the change I made to fix `detect-crop` for Z shells. It made things worse for Windows. But that's a (slightly) separate issue that I need to address.

Your patch will likely work for the common case, even across multiple platforms. In fact, it looks like my

[2017-05-07 16:28] donmelton commented on #146
@samhutchins I just notice a pointer to this code:

https://github.com/larskanis/shellwords

...at the bottom of that Stack Overflow article I linked to in the previous comment. Unfortunately, the `cmd.exe` version of `shellescape` is not implemented.

[2017-05-07 17:15] donmelton commented on #146
@samhutchins After even more snooping around on the Web, it looks like this is the best way to detect whether we're running on Windows:

[code]

...because the Gem module is included with Ruby version 1.9 and later. That way I don't need to add a dependency on the the OS module. See this page for discussion of that issue:

http://stackoverflow.com/questions/4871309/what-is-the-correct-way-to-detec

[2017-05-07 17:17] samhutchins commented on #146
That's cool that it's possible to detect OS without another dependency. I'll have a think about how to detect CMD, nothing immediately springs to mind though

[2017-05-07 17:42] donmelton commented on #146
@samhutchins OK, I think I've found a way to detect which shell is running. It's kind of a hack, but it should work. Can you try this on your Windows machine since I don't have access to one at the moment? From `cmd.exe` invoke `irb`, the interactive Ruby environment, and type this at the prompt:

[code]

On macOS that prints out:

[code]

I would be curious to know what it does on Windows.

Thank

[2017-05-07 17:43] samhutchins commented on #146
I found this: http://stackoverflow.com/questions/5859854/detect-if-bat-file-is-running-via-double-click-or-from-cmd-window

On windows all Gems are launched via a `.bat` file, which means the `cmdcmdline` environment variable is set. I just made a little test batch file that calls a test Ruby file that prints the `cmdcmdline` environment variable.

Via CMD:
[code]

Via Powershell:
[code]

I don't

[2017-05-07 17:46] samhutchins commented on #146
Amusingly, `RbConfig::CONFIG['SHELL']` prints `=> "/bin/sh"`

[2017-05-07 17:47] donmelton commented on #146
@samhutchins That _is_ funny. :) And obviously not useful. Oh well.

Can you show me the code you used to print out the `cmdcmdline` environment variable?

[2017-05-07 17:50] samhutchins commented on #146
In a file called `bar.rb` I have:

[code]

[2017-05-07 17:54] samhutchins commented on #146
Ignore me, I'm an idiot. I left an echo in my wrapping batch file that confused me. The cmdcmdline thing could well be a red herring

I'll keep digging around, and I'll try not to comment until I actually have something

[2017-05-07 17:55] donmelton commented on #146
@samhutchins Thanks! I thought it was probably something like that. :)

OK, then maybe we can write something like this?

[code]

... to test if we're running under `cmd.exe`?

[2017-05-07 17:57] donmelton commented on #146
@samhutchins Oh crap, I just saw your previous comment. But Wikipedia says that's a pretty standard variable. See:

https://en.wikipedia.org/wiki/Environment_variable#CMDCMDLINE

[2017-05-07 18:00] donmelton commented on #146
@samhutchins Hmmm, but it looks like `cmdcmdline` may be set no matter what shell you're running on Windows. So, yes, it could be a red herring. Damn.

[2017-05-07 18:04] samhutchins commented on #146
So when I originally wrote the comment I had a batch file that echo'd `cmdcmdline` before calling Ruby, which is why I thought it worked. Having removed that and more clearly logged the start and end of the Ruby process, calling `puts ENV['cmdcmdline']` doesn't actually print anything, so I guess the variable's not visible to Ruby anyway

You're correct that it's set no matter who calls the file t

[2017-05-07 18:08] donmelton commented on #146
@samhutchins OK, that's weird since if `cmdcmdline` is set at all in Windows environment, it should be available to Ruby via `ENV['cmdcmdline']`. What happens if you type `ENV['cmdcmdline']` within `irb`?

[2017-05-07 18:17] samhutchins commented on #146
Just returns `nil`

`ENV.keys` doesn't list it either, so it's clearly not set in all cases

[2017-05-07 18:19] donmelton commented on #146
@samhutchins Dammit. OK, clearly `cmdcmdline` was a dead end. But thanks for testing!

Just out of curiosity, is there anything else in `ENV.keys` that we could look for to test if we're running under `cmd.exe` or Powershell?

[2017-05-07 18:22] samhutchins commented on #146
I tried a couple of promising looking things, but there's nothing concrete in there. I'll keep trying things, see how it goes

[2017-05-07 18:23] donmelton commented on #146
@samhutchins Thanks! Your help is really appreciated by us all.

[2017-05-07 18:49] samhutchins commented on #146
`Process.ppid` returns a pid that's associated with CMD.exe even when I launch `irb` from Powershell

Not sure what else to try 🤔

[2017-05-07 18:55] samhutchins commented on #146
I wonder though, is it enough to detect Windows and just return the file path wrapped in `"` in that case? You can't put a `"` in the filename anyway, and it seems to handle `'` just fine. What other characters were messing with it?

Even a path like `"bar '\Rogue One with ' silly characters.mkv"` seems to be fine.

I've not done a huge amount of testing mind, bit I feel like whatever the user pas

[2017-05-07 19:56] donmelton commented on #146
@samhutchins Oh, I actually have several files with double quotes in their names. The other characters to special case on are things like question marks, exclamations, colons, etc. We need to escape those somehow depending on the platform.

If we solve this, I want to solve it the right way. Otherwise I can just document the behavior on Windows. After fixing the breakage I caused on Windows with m

[2017-05-08 07:12] samhutchins commented on #146
Yay for different rules on different systems. On Windows you can't put a double quote, question mark, or colon in the filename, it won't let you.

https://support.microsoft.com/en-us/help/905231/information-about-the-characters-that-you-cannot-use-in-site-names,-folder-names,-and-file-names-in-sharepoint

At this point I'd be inclined to fix the issues on zsh without regressions for windows, then

[2017-05-08 15:47] donmelton commented on #146
@samhutchins The Sharepoint rules are a bit more restrictive than those for NTFS itself. Go figure. Thanks for the link on escaping. I was doing some research on that too, but, as you said, it doesn't really matter if we can't detect when we're being used from `cmd.exe` or PowerShell.

So, I think at this point we should, as you recommended, 1) fix the regression caused by my Z shell accommodation

[2017-05-08 15:55] donmelton commented on #146
@samhutchins BTW, I'll tackle this and merge that dandy patch of yours, #147, when I get back to my development machine tomorrow.

[2017-05-08 20:19] mauro3 opened #148 "Transcoding videos shot with iPhone"
I'm trying to transcode videos shot with a recent iPhone.  Presumably, this is not the "target" of this package, but it seems to work fine and cuts size by about 2/3.  However, I've run into two problems so far:
1) the orientation of the video in portrait format is not preserved.
2) slow-motion videos become normal motion

Are there any command-line options I can set to make this work?

Related li

[2017-05-08 20:32] donmelton commented on #148
@mauro3 You are very welcome! "With aplomb" is a delightful description. Thank you. :)

Yes, `transcode-video` can rotate your video by using the `rotate` filter in `HandBakeCLI`. Try adding something like this to your command line:

[code]

As for the slow motion issue, have you tried adding something like this yet?

[code]

I'm not sure if that will work, but it's worth a shot. Let me know.

[2017-05-09 19:31] mauro3 commented on #148
Thanks for the speedy reply! Those tricks work both.

Now, getting greedy, is there a way to make this automatic?  I can do this in the python script I use to run `video-transcode` with a bit of effort.  But presumably some input-file info is parsed already in `video-transcode`.  Maybe you can point me to the source lines?

[2017-05-09 21:05] donmelton commented on #148
@mauro3 Sorry I took so long to reply this time. I've been in the car driving all day. :)

I'm not sure what you want to automate with `transcode-video`. It can easily process multiple files as long as you pass those files the same options. But you might be better off modifying my example shell script here for batch processing:

https://github.com/donmelton/video_transcoding#batch-control-for-tran

[2017-05-10 03:16] donmelton commented on #146
@samhutchins Good news. Using double instead of single quotes around the `lavfi=[drawbox=`... strings works fine in Bash and will _likely_ work in Zsh too. I don't have Zsh installed yet so I can't be sure. I'll tackle that sometime tomorrow. Here's hoping Homebrew can help me out with that.

[2017-05-10 03:21] donmelton commented on #146
@samhutchins D'oh! Stupid me. I forgot `zsh` is already part of macOS. :)

Yeah, that works fine. I'll probably make the change later tonight.

[2017-05-10 04:39] donmelton commented on #146
@samhutchins I think I've found a way to solve the filename escaping problem! :) At least most of the time anyway. Here's the pseudocode:

[code]

Basically it will just put double quotes around anything that doesn't need escaping in a Bourne shell. This should be a 80-90% solution when using `cmd.exe` or PowerShell.

What do you think?

[2017-05-10 07:10] mauro3 commented on #148
No worries about the response time: unless I pay consulting fees I don't expect anything!

Anyway, I meant that it automatically detects rotation and/or slow motion and sets the flags accordingly.  I plan to transcode many videos, so, I'd rather not figure that out by hand for each video.  I just discovered `ffprobe`, so it should be easy for me to put things together.  I'll close this issue but m

[2017-05-10 07:57] samhutchins commented on #146
I'd say anything that improves the experience on Windows without breaking stuff elsewhere is a good thing!

I'll modify the gem locally and have a play this evening (BST) to see what kinds of things don't work on Windows, but am I correct in thinking that most of the time the filename will be put in quotes on all platforms?

[2017-05-10 10:08] #148 closed

[2017-05-10 13:59] donmelton commented on #146
@samhutchins Yeah, if it doesn't have any spaces, quotes, or any other weird characters, it'll just be enclosed in double quotes.

And thanks! Let me know what you find out.

[2017-05-10 14:03] donmelton commented on #148
@mauro3 You are very welcome! And I'll be here if you have more questions. :)

[2017-05-10 17:30] samhutchins commented on #146
So having thought about it, I'm not sure that this really changes much. If the string doesn't need escaping on Unix shells, there's a pretty good chance that it doesn't need escaping on Windows either so wrapping it in quotes doesn't really achieve much, you may as well send back the arg unmodified. I reckon a Platform question is needed:

[code]
I just don't think there's any way to have common e

[2017-05-11 01:59] donmelton commented on #146
@samhutchins I think Ruby gave all their extra parentheses to Lisp. :)

You make a good point about the usefulness of my pseudocode. I'll have to play with it some more tomorrow.

But I can't add a `Gem.win_platform?` test without breaking escaping when you use Bash or another UNIX-type shell on Windows. Because, I believe, that test will foolishly return `true` in that case.

[2017-05-11 17:30] samhutchins commented on #146
@donmelton It does indeed return `true` in Git Bash on Windows. I'd guess the same is true in Cygwin, but I don't fancy installing it to find out I'm afraid.

[2017-05-11 20:40] donmelton commented on #146
@samhutchins That's what I figured. Jiminy! And I don't blame you for not wanting to install Cygwin. Try as I might, I could never seem to _uninstall_ the damn thing. :)

And thanks, once again, for all this testing!

[2017-05-12 03:45] donmelton commented on #146
@forty2 and @samhutchins OK, the fix for the preview command on Windows is checked in. I'm working on re-writing the "README" now to document the problem with file/path name escaping on Windows.

[2017-05-12 04:01] donmelton commented on #146
@samhutchins OK, after this line in the "README" document:

...I'm going to add this paragraph:

Does that make sense to you? And is it sufficient?

[2017-05-12 08:12] samhutchins commented on #146
@donmelton looks good 👍

[2017-05-13 03:02] donmelton commented on #143
@beetwaaf I'm working on landing that patch tonight and it turns out there are hideous bugs in it! Here's the correct patch:

[code]

The new version correctly accepts plain `x264` and `x265` as ` -H encoder=` arguments.

Sorry about that.

[2017-05-13 03:16] donmelton commented on #143
@beetwaaf OK, the new patch has been checked in. I'll probably make a release with this in the next few days. Stay tuned.

[2017-05-13 04:07] donmelton commented on #141
@ddribin Hard to believe, but I just noticed there's a bug in my `--force-rate` code when used with recent versions of `HandBrakeCLI` due to a change in its default behavior. Because my code is not setting HandBrake's `--cfr` option, my `force-rate` option behaves identically to my `--limit-rate` option. Which is not what it's supposed to do and probably not what most people want.

I'll fix that i

[2017-05-13 18:16] schwa opened #149 "--scan should show which title is the main feature"
I don't believe it's possible to display what track is considered the main feature until I try to transcode a video - would it be difficult to add that ability to display the main feature track on a --scan?

[2017-05-13 18:17] schwa opened #150 "Add a machine readable output format"
How about a --json flag to export the out of a run in a machine readable json format. I could then use jsonpath to easily extract information I need.

[2017-05-13 18:19] schwa opened #151 "Fail instead of default"
I tried to transcode a video with `jpn` as the main audio. For some reason it failed and selected English. I would prefer if transcribe_video tool failed if it can't fulfil my selections instead of falling back to defaults.

[2017-05-13 20:14] donmelton commented on #149
@schwa The `--scan` option in `transcode-video` already designates the "Main Feature" track as long as `HandBrakeCLI` can detect that. BTW, my implementation simply dumps the output of the `--scan` feature built into `HandBrakeCLI` itself.

Or am I misunderstanding what you mean?

[2017-05-13 20:17] donmelton commented on #150
@schwa Do you want output from the `--scan` option in JSON format, the media attributes I've parsed and cataloged myself or maybe the `.log` file that way?

[2017-05-13 20:19] donmelton commented on #151
@schwa Please send me the command line you used that failed as well as the `.log` file or console output so I can diagnose this issue.

Thanks.

[2017-05-13 20:21] donmelton commented on #151
@schwa And, BTW, I can't always fail in these cases. Depending on what command line you used, that can be up to the whims of `HandBrakeCLI`. :)

[2017-05-13 21:53] forty2 commented on #146
Hi all,

Sorry for not chiming in sooner; I was traveling and away from my computer.

Thanks for jumping in so quickly and taking this so seriously!  For my purposes, the workaround of just using bash while working on a big batch of videos is good enough, but thanks for fixing the zsh regression (it did seem like this got more annoying recently, but I couldn't put my finger on why...)

The only ot

[2017-05-14 01:32] donmelton commented on #146
@forty2 No worries. I've been away from my computer most of the day. They tell me that's a healthy thing to do. :)

That's a good idea, actually. I'd be curious to know what @samhutchins thinks about this and how to word that message.

[2017-05-14 13:13] samhutchins commented on #146
I don't like recommending that people use Cygwin, because it's completely unnecessary for this application and it's such a pain to uninstall. But hey, if people already have it and they wanna use it I have no problem with that :-P

I feel that you're the master of wording Don, but I think @forty2 had a pretty good suggestion

[2017-05-14 14:39] donmelton commented on #146
@samhutchins Yeah, it was only mentioning "Cygwin" that bothered me. :) Especially after we excised it from the "README" earlier this year and you went the extra mile of writing new documentation.

And I agree, this is a good idea by @forty. So good, in fact, that I delayed the release a day to mull this one over.

OK, I'll come up with some revised wording based on @forty2 's thoughts today, perh

[2017-05-14 15:17] donmelton commented on #146
@samhutchins and @forty2 OK, here's my reworded text:

I'm going with that unless I hear otherwise. :)

[2017-05-14 21:33] donmelton commented on #146
@forty2 and @samhutchins All the changes are in version 0.17.3 which I just released. Thanks, again!

[2017-05-14 21:33] #146 closed

[2017-05-14 21:33] donmelton commented on #143
@beetwaaf All the changes are in version 0.17.3 which I just released. Thanks, again!

[2017-05-14 21:33] #143 closed

[2017-05-14 21:34] donmelton commented on #141
@ddribin All the changes are in version 0.17.3 which I just released. Thanks, again!

[2017-05-14 21:34] #141 closed

[2017-05-14 22:42] beetwaaf commented on #143
@donmelton Thats great to hear! I love your tool and appreciate your effort in constantly improving it.

[2017-05-14 23:35] donmelton commented on #143
@beetwaaf You are very welcome, sir! Keep the good ideas coming. :)

[2017-05-19 04:24] ddribin commented on #141
@donmelton I will try out the new version. Thanks for everything! Sorry I have not been more responsive, but I haven't had a lot of time to play with this lately.

To close out my end, I'm currently *not* planning on transcoding my original videos, at this time. I will at some point, as disk space becomes more scarce, but I need to do more playing around and see what settings are "good enough" for

[2017-05-19 04:36] donmelton commented on #141
@ddribin Thanks for those links. Interesting articles. However, the recommendations are dubious. For example, no one uses "Two-pass CRF" (if there is such a thing) and "CBR" mode (also impractical) doesn't work like he thinks it does.

Also, keep in mind that there's no such thing as an "Archival" transcoding. The original is what you put in your archives. Anything else is just a lesser copy. And

[2017-05-25 18:45] arijon opened #153 "Transcode Folder + Overwrite Files"
Hi Don,

I posted on the MGG Facebook about video transcoding and both you and Dave commented on my post. Thanks so much! I'm very excited about this script, though am quite new to the terminal. Quick question: is there a simple way to transcode a whole folder and have it write the output files to that same folder? Ideally it'd be even better if the original files could be overwritten by the new o

[2017-05-26 02:18] donmelton commented on #153
@arijon My apologies. I missed this earlier today due to traveling. Was I able to answer your question sufficiently on Facebook?

[2017-05-26 03:32] arijon commented on #153
@donmelton No worries! I replied via Facebook. Best to continue the conversation there or here? :)

[2017-05-26 03:41] donmelton commented on #153
@arijon Actually, it's probably best to continue the conversation here for the benefit of other users.

I'll paste in my answer from Facebook later so folks have some context.

So feel free to keep asking questions here.

[2017-05-26 03:59] donmelton commented on #153
@arijon OK, it turns out it's not easy to paste out conversation from Facebook here. :) So either place works for me.

[2017-05-26 04:19] arijon commented on #153
@donmelton either (or both) work for me, especially if users in both places can benefit from this conversation. :)

[2017-05-26 04:21] arijon commented on #153
Here was my reply in FB:

@donmelton Thanks again for getting back to me, and please forgive my noob status with the Terminal, but this is what I get when I tried to use cd. Thoughts?
![screen shot 2017-05-25 at 8 28 05 pm](https://cloud.githubusercontent.com/assets/28962067/26480619/1051c71c-4190-11e7-8ef7-e4703d0bdcce.png)

[2017-05-26 04:22] donmelton commented on #153
@arijon And here was my reply to that from Facebook:

The `transcode-video` tool can only take input from a directory when that directory is a disc image, i.e. it's in the same format as DVD or Blu-ray Disc.

It appears the directory you're passing `transcode-video` is just a folder of media files, correct?

[2017-05-26 04:36] arijon commented on #153
@donmelton Yes exactly!

[2017-05-26 04:44] donmelton commented on #153
@arijon That's what I thought. OK, you need to process those as separate files either in a batch script or with a command line like:

[code]

That works because `transcode-video` can handle multiple files at the same time. However, be advised that this is not always advisable since you can't provide different options for each file if that's required.

That's why I always recommend a batch script.

[2017-05-26 05:37] arijon commented on #153
@donmelton it's working TYSM!!!

[2017-05-26 14:35] donmelton commented on #153
@arijon You are very welcome. :)

[2017-06-12 04:12] ddribin commented on #141
@donmelton Given Apple's embracing of HEVC (H.265) last week, I am now considering using this as my "archival" codec. It alone should save a bunch of space. I'm not sure if x265 and Handbrake's HEVC support is fully solid yet, though. Plus, I see H.265 in `transcode-video` is still considered experimental. If there's anything I can do to help test H.265, lemme know!

[2017-06-12 04:23] donmelton commented on #141
@ddribin I will let you know, sir. But, not to depress you, let me give you a preview of a blog post I'm drafting now:

And keep in mind that the HandBrake, FFmpeg or Libav teams never integrated Apple's H.264 implementation either.

[2017-06-12 05:01] ddribin commented on #141
Yeah, that makes sense. Not sure I need Apple's implementation. x264 seems pretty darned good, but as you say, still to early to know if x265 will be on par. But I am wondering if using [Compressor](https://www.apple.com/final-cut-pro/compressor/), which will have HEVC support, is something I should be looking at. It's not nearly as tweakable, but might be good enough. Or maybe, again, I should ju

[2017-06-12 05:20] donmelton commented on #141
@ddribin Compressor works fine as long as you're OK with its limitations on input and output. For example, you'll never be able to transcode a DVD or Blu-ray Disc rip with Compressor. It's just not made for that. However, it can work well with input from video cameras and such.

[2017-06-14 21:29] gingerbeardman opened #154 "How to use comb-detect?"
Saw a reference in readme.

Will have a look at source now.

edit: am using `--filter decomb`

[2017-06-14 21:44] donmelton commented on #154
@gingerbeardman I think the filter is called "comb-detect" so that would be:

[code]

But, honestly, I haven't trie it recently. :)

[2017-06-15 09:21] gingerbeardman commented on #154
Thanks, decomb was more what I wanted - cheers!

[2017-06-15 09:21] #154 closed

[2017-06-29 09:49] aloglu commented on #62
Thanks for this issue @danielcompton. I love this tool but my Macbook Pro (i7-4770HQ @ 2.20GHz) gets uncomfortably hot while using it (90-100 °C / 190-210 °F). I am comfortable waiting a couple more hours instead of melting down my notebook, so this really helped. It's stable at 57 °C (134 °F) now using a single thread.

@donmelton, you really should add this trick to the FAQ. Also, thanks for the

[2017-06-29 14:19] donmelton commented on #62
@aloglu You are very welcome and thanks for the reminder on this.

[2017-07-05 14:26] maxwilkie opened #155 "Yadif bug"
Hi Don,

I've been slowly transcoding a bunch of old British television from DVDs over the last few months, which is interlaced material (25fps/50 fields ps at 720x576 resolution) and have been doing so by using:

transcode-video --filter deinterlace=bob '/path/to/movie.mkv'

Some months ago, in April, after upgrading video_transcoding and its dependencies I discovered that the yadif filter was no

[2017-07-05 15:38] donmelton commented on #155
@maxwilkie Thank you for the detailed bug report and my apologies for you having to deal with this problem.

Although I tested the small change in version 0.17.3 with older versions of HandBrake, I didn't specifically check your particular usage of the deinterlace filter. That'll teach me to be more thorough. And I was not aware of issues with the yadif implementation in current versions of HandBr

[2017-07-05 17:24] maxwilkie commented on #155
@donmelton Unfortunately that doesn't fix it. Thanks for your reply!

[2017-07-05 22:32] donmelton commented on #155
@maxwilkie Thanks for testing that so quickly! But now I'm scratching my head because that should have fixed it. OK, ignore the `--handbrake-option cfr` trick for now. Instead, can you do me a favor and add the `--dry-run` option to your command line? Something like this:

[code]

That will print out what `transcode-video` plans to send to `HandBrakeCLI`. Then just paste that output in here. Thank

[2017-07-06 02:08] maxwilkie commented on #155
@donmelton Hi Don, I've done a dry run under 0.17.2 and 0.17.3 for comparison:

Here's the 0.17.3 (not performing a bob deinterlace correctly):

[code]

And here is is working correctly in 0.17.2:
[code]

Cheers,
Max

[2017-07-06 02:47] donmelton commented on #155
@maxwilkie Sweet and thanks! And I see the problem now. OK, try this with version 0.17.3:

[code]

I got it backwards before. Apparently we need to disable forcing the constant frame rate. That underscore is not a typo. The option really is `--handbrake-option _cfr` to do that.

Let me know if that works. Thanks.

[2017-07-06 08:34] maxwilkie commented on #155
@donmelton Thanks - that works!

After successfully completing that transcode, I ran it under the same settings, but running HandBrakeCLI 1.0.7 on my secondary machine (as expected, yadif didn't bob deinterlace this time) more for the log file than anything else - have attached logs (as txt files) for the successful transcode using HandBrake 0.10.5 and the unsuccessful one using 1.0.7, should you

[2017-07-06 14:44] donmelton commented on #155
@maxwilkie Whew! I'm glad that worked. :) And thanks for testing and including those `.log` files. I'll take a look at those later today.

Now the big question is whether I can make a code change so you don't have to add that option for your case while at the same time not breaking other behaviors when using HandBrake version 1.0 and later for everyone else. Especially not breaking the regression

[2017-07-06 15:15] samhutchins commented on #155
@donmelton If I may ask an unrelated question (I don't know a better place to ask):

Why is determining the version of HandBrake so difficult? Does the syntax of `HandBrakeCLI --version` change a lot? Are you trying to support nightlies?

[2017-07-06 15:48] donmelton commented on #155
@samhutchins Good question! But the answer is really complicated. :)

First, there's no `--version` option support prior `HandBrakeCLI` 1.0. As you can see in my `handbrake.rb` source file, you have to parse the output of the `--preset-list` option for those.

But, even that first rule is not ironclad because of 1) weirdness of nightly builds (which many users run) and 2) the HandBrake development

[2017-07-07 07:28] maxwilkie commented on #155
@donmelton Thanks for all your help - I'll just keep forcing cfr off for now. Hopefully there's a patch on the way for HandBrake - I'd rather not keep using the legacy version, but so long as I have all this interlaced content to transcode I'll have to.

Thanks again.

Cheers,
Max

[2017-07-07 14:33] donmelton commented on #155
@maxwilkie You are very welcome, sir! I'll leave this issue open for awhile to track the problem although I may reclassify it.

[2017-07-08 23:18] HenningJohannsen opened #156 "Multi Language Transcoding"
Hi Don
First of all thanks thanks for sharing video_transcoding.
I am trying to transcode a movie with multiple audio tracks in different languages, English and Norwegian, with the default settings in video_trancoding because it plays well with plex and my apple enviroment. Is there an easy way to use those defaults in a multi language scenario?

I allready tried with transcode-video --add-audio n

[2017-07-09 00:12] donmelton commented on #156
@HenningJohannsen You are very welcome and thanks for opening this issue.

I suspect the problem was that only one copy of the English language track was added? If that's the case, then you need to add `--audio-width all=double` to your command line like this:

[code]

Let me know if that works for you.

[2017-07-09 00:21] nickrupert7 opened #157 "Subtitle Settings - Getting It Just Right"
I want to go ahead and say this isn't an issue or bug with the script, just an issue with my ability to use it correctly. I'm working on a script to completely automate my movie copying process, and after MakeMKV rips the DVD/BluRay to my computer, I want to use `transcode-video` to compress the files down, and the part I'm struggling with - copy full English and English foreign audio subtitle fil

[2017-07-09 00:30] donmelton commented on #157
@nickrupert7 You need to use the `--force-subtitle` option to do that. And you'll need to pass it a specific track number like this:

[code]

Just change `1` to whatever the track number is that should be forced.

Let me know if that works for you.

[2017-07-09 01:32] HenningJohannsen commented on #156
Hi again
Thanks for helping me out.
It turns out that i had 2 English tracks. Is i possible to choose a language track only once or not encode dts/ac3 tracks?
 + audio tracks:
    + 1, English (AC3) (5.1 ch) (iso639-2: eng), 48000Hz, 640000bps
    + 2, English (AAC) (2.0 ch) (iso639-2: eng)
    + 3, English (AC3) (5.1 ch) (iso639-2: eng), 48000Hz, 640000bps
    + 4, English (AAC) (2.0 ch) (iso639-

[2017-07-09 04:40] donmelton commented on #156
@HenningJohannsen Unfortunately, neither of those two strategies are possible with the current set of options available in `transcode-video` or `HandBrakeCLI` itself. You will have to select the tracks you want to include by specific track numbers.

[2017-07-12 14:08] nickrupert7 commented on #157
I think that did it! Im still working on a way to get the number right automatically though, so I don't have to manually check and enter it every time. I don't suppose there's a feature built in that does this? If not, I should be able to write a little script that does something to that effect.

Thanks!

[2017-07-12 15:36] donmelton commented on #157
@nickrupert7 I'm glad that worked. :)

Unfortunately, there's no built-in feature to do this. However, you can write a script to parse the output of using the `--scan` option in `HandBrakeCLI` or `transcode-video` to enumerate the subtitles in your movie. You could also use the command line version of the MediaInfo tool to do something similar. See <https://mediaarea.net/en/MediaInfo> for more inf

[2017-07-12 15:36] #157 closed

[2017-07-13 16:57] nickrupert7 opened #158 "Performance slows massively over time"
Hi Don,
Thanks for your help on my last issue! I got a script working to detect English foreign audio subtitles and add it to the `transcode-video` parameters. However, now I'm having a new issue that I've never seen before, and while it may or may not be more about `HandBrakeCLI` than `transcode-video`, you really seem to know your stuff with this, and I was hoping you might have some insight.

B

[2017-07-13 17:13] nickrupert7 commented on #158
Update:
Somehow, 30 minutes after I made this post, the transcoding finished?? Perhaps it's a bug in my script that detects when it's finished because the output of `transcode-video` which I pipe to a log file still shows it as encoding... Very very weird stuff here

[2017-07-13 19:43] donmelton commented on #158
@nickrupert7 Sorry I took so long to respond. I was playing chauffeur this morning for my family.

Once `transcode-video` hands the task of doing the actual transcoding off to `HandBrakeCLI`, the only thing it really does is pipe the the console output to the `.log` file. So the impact from `transcode-video` itself on performance is minimal.

However, `HandBrakeCLI` and the x264 library it contain

[2017-07-13 19:47] nickrupert7 commented on #158
No no! By all means, I consider your reply to be speedy, considering other forums on GitHub. I've actually been looking in to it, and that update I posted actually set some alarms off in my head that could explain what's going on. As I mentioned, apparently my script is moving on from the `transcode-video` command before it's actually done (perhaps there's some kind of default time-out for a bash

[2017-07-13 20:25] donmelton commented on #158
@nickrupert7 Ah, I see what you mean now. Yeah, instances could be piling up. You've got me curious now so I will await your findings.

[2017-07-13 23:37] nickrupert7 commented on #158
I restarted the computer to start with a fresh slate, and it's still giving an ETA of 6 hours, but it's a possibility that there are some setting differences from how I used to run it, combined with the fact that I'm not encoding subtitles in addition to the fact that it's a blu-ray instead of a DVD. 🤷‍♂️
I'll test it with a plain DVD tomorrow and see if it goes back to the speeds I'm used to, or

[2017-07-14 00:06] donmelton commented on #158
@nickrupert7 Thanks for the update! I will await the results of your next test.

[2017-07-14 22:19] nickrupert7 commented on #158
I tested with my DVD copy of Return of the Jedi, and it went back to the 1 hour start-to-finish rip+transcode, so it really seem like it's the Blu-Rays that go slow, and there's not much to be done about it. Having said that, I added an exit trap and a startup condition to my script that will make it impossible for multiple instances to run at the same time, because I do believe that the bump to 1

[2017-07-14 22:19] #158 closed

[2017-07-14 22:26] donmelton commented on #158
@nickrupert7 You are very welcome, sir! I'm glad you figured it out. Your modification to your script is a very good idea.

And you're right, transcoding Blu-ray Discs takes much, much longer than transcoding DVDs. Using the `--quick` option on my iMac, I typically get between 40-70 FPS with Blu-rays and 300-325 FPS with DVDs.

[2017-07-17 18:45] donmelton commented on #156
@HenningJohannsen Since you've solved the original issue, I'm going to close this now. But feel free to continue commenting.

[2017-07-17 18:45] #156 closed

[2017-07-20 21:36] dmbreakey commented on #149
I have a suspicion that the op is facing a similar problem I've run into; namely discs that deliberately manipulate the metadata to present dozens of similar-looking tracks, **none** of which will correctly encode all the way through because the metadata has been deliberately compromised. And even sneakier, a lot of them **start** out fine, to fool you into wasting time.

In this case, I don't thi

[2017-07-20 23:51] donmelton commented on #149
@dmbreakey Yes, this is a poor man's copy copy protection scheme used by some labels. I have a few Blu-ray Discs with hundreds of bogus playlists. The best way to deal with this leveraging teh Interwebs because someone else has usually figured out the correct track already.

[2017-08-13 18:26] chrisridd opened #159 "transcode-video scanning media title fails"
I have "District 9.dvdmedia", a DVD rip.

I run `transcode-video --scan`. Output is in [scan.txt](https://github.com/donmelton/video_transcoding/files/1220654/scan.txt); it claims that title 1 is the main feature.

I run `detect-crop --title 1`. Output is in [crop.txt](https://github.com/donmelton/video_transcoding/files/1220655/crop.txt).

I then run `transcode-video --title 1` with the crop argu

[2017-08-13 18:37] donmelton commented on #159
@chrisridd Thanks for the detailed information included with this issue! That makes it easy to diagnose.

It looks like `HandBrakeCLI` thinks your input is encrypted media. See these lines in `transcode.txt`:

[code]

I'm sorry, but there's not much I can do about that. How did you create the input?

[2017-08-13 19:40] chrisridd commented on #159
That's very strange! I rip using RipIt.app, so maybe something went wrong there.

I will re-rip it and see what happens.

[2017-08-13 20:57] donmelton commented on #159
@chrisridd Yeah, I thought that was output from RipIt.app. Good software. I have it, too. :) However, I believe it's not always able to decrypt a DVD if that DVD region doesn't match your drive region. A better option for you might be MakeMKV. I don't think it has that problem.

[2017-08-14 12:51] chrisridd commented on #159
I tried re-ripping with RipIt, which completed successfully but ended up with a still-encrypted file. Shame that RipIt has been abandoned... MakeMKV made quite a fuss, but did give me a valid mkv file!

I hadn't really thought about using MakeMKV for DVDs before. Good tip!

[2017-08-14 14:44] donmelton commented on #159
@chrisridd Yes, it's a pity RipIt hasn't been updated in a long time. Anyway, I'm glad MakeMKV worked for you! I'll close this issue now but feel free to comment here or open other issues if you run into more problems.

[2017-08-14 14:44] #159 closed

[2017-08-16 16:13] ntodd opened #160 "HEVC output is not playable by QuickTime on macOS 10.13 High Sierra Beta 6"
Using `transcode-video --handbrake-option encoder=x265 --mp4` I am unable to create a file that can be played back by QuickTime on 10.13.  It appears the output is not compatible with the upcoming HEVC support in macOS.  I have not tested playback on iOS 11 beta yet.

video_transcoding 0.17.3
macOS 10.13 beta 6

[2017-08-17 01:20] donmelton commented on #160
@ntodd Unfortunately, as you may have heard me say on podcasts, "Gramps don't beta." So, I won't install that version of macOS to test.

But the key question is, which version of `HandbrakeCLI` are you using? Because if there's a generation bug here, it's going to be with Handbrake itself or with the version of LibAV that it includes.

So, you should file a bug with the Handbrake team about this i

[2017-08-17 01:21] donmelton commented on #160
@ntodd BTW, sorry it took me so long to reply but I've been AFK all day.

[2017-08-19 10:30] mikumi commented on #160
@ntodd
I had the same problem. I'm no expert, but looks like it has to do with the packaging of the stream, see this stackoverflow answer: https://stackoverflow.com/a/32485240/968099

From what I understand `transcode-video` marks the video stream has `hev1`, but it actually needs to be marked as `hvc1` in order to be recognized by Quick Time.

Running `mp4box -raw 1 file.mp4` ans then `mp4box -ad

[2017-08-19 16:06] donmelton commented on #160
@mikumi Thanks for the information! That would explain a lot to @ntodd and myself. :)

However, it's not `transcode-video` that is marking the streams as such. It's `HandBrakeCLI` or the LibAV library within it.

Of course, if the HandBrake team doesn't fix this problem, I could do it within `transcode-video` by calling `mp4box` directly. However, that would add another dependency.

[2017-08-19 17:06] ntodd commented on #160
Been digging a bit and might have some info.

It looks like ffmpeg has added hvc1 tag support with these two commits:
https://github.com/FFmpeg/FFmpeg/commit/974d508e571085dce43e688595da058804169088
https://github.com/FFmpeg/FFmpeg/commit/369a3e111cb8015c3a3acc5c2c15728c8f37084f

They are currently in master and do not appear to be in a ffmpeg release yet.  With the patches, you _should_ be able t

[2017-08-19 18:28] donmelton commented on #160
@ntodd Excellent! Since we already have a dependency on FFmpeg then this will make it easier to eventually add support. Unless, of course, the HandBrake team does it first.

Thanks for the research!

[2017-08-22 05:33] ntodd commented on #160
Confirming FFmpeg compiled from source works as described above.  I tagged a version of the [docker image](https://hub.docker.com/r/ntodd/video-transcoding/) that has the necessary patches (as well as latest libx265) if anyone needs it. Run it with: `docker run -itv "`pwd`":/data ntodd/video-transcoding:0.17.3-ffmpeg`

You can then convert `hev1` tagged h265 to `hcv1` with: `ffmpeg -i input.mp4 -v

[2017-08-22 05:39] donmelton commented on #160
@ntodd Very cool. And thanks!

[2017-08-23 11:12] mikumi commented on #160
@ntodd @donmelton
I just found this and it looks like the latest handbrake nightly builds will support `hvc1` out of the box:
https://github.com/HandBrake/HandBrake/commit/67dfaca7ac3ec56cc4ab3c7f9f60ab3b7c43a0db

Maybe we just have to wait a little :)

[2017-08-23 14:48] donmelton commented on #160
@mikumi That's great news! And a much better way to fix this problem.

[2017-08-25 02:04] livetvcanada opened #161 "Convert a TV Broadcast signal into a web streaming link"
Hi Don,

I hope this message meets you well.

I kindly have a request. My team and I built a web streaming platform for linear tv channels. Currently, we are discussing with a TV network company to offer its channel on our web platform. But they have a broadcast satellite signal, we need a web link in order for it to be available for streaming on a web browser. Basically, my question with the sate

[2017-08-25 02:16] donmelton commented on #161
@livetvcanada Well, that's certainly a novel request. :) Unfortunately, it's not really my area of expertise or an appropriate usage my tools in this project. But, I suspect, it's the perfect job for FFmpeg.

I suggest you check out FFmpeg's "Steaming Guide" on their wiki here:

<https://trac.ffmpeg.org/wiki/StreamingGuide>

And you could simply search online for additional information here:

<htt

[2017-08-25 02:28] livetvcanada commented on #161
@donmelton thank you. I think a simplified question would work on a 140 word limit lol - Look forward to any update you receive from your followers. Thank you.

[2017-08-25 02:30] donmelton commented on #161
@livetvcanada Oh, I'll just link to this issue so they can comment. :) Stay tuned for that...

[2017-08-25 02:33] donmelton commented on #161
@livetvcanada Hopefully I guessed your Twitter handle correctly. :)

[2017-08-25 02:36] livetvcanada commented on #161
Yes, it's correct. thanks Don

[2017-08-30 23:41] dorgan opened #162 "makemkv no longer works and website down"
Is there something other than makemkv that can be used since it seems that makemkv  application is died to the website working...

[2017-08-31 04:15] donmelton commented on #162
@dorgan Sorry I took so long to respond...

Yikes! Unfortunately, MakeMKV is the only game in town for ripping Blu-ray Discs at the moment. Let me check with some other folks to find out what's really going on. This has happened before so hopefully it's only a temporary situation.

[2017-08-31 14:03] samhutchins commented on #162
It seems to be back!

I'm gonna start keeping an archive of the installers somewhere...

[2017-08-31 14:35] donmelton commented on #162
@samhutchins Yep, it's back and... good idea!

[2017-08-31 14:37] donmelton commented on #162
@dorgan Since the site is back online, are you able to use the MakeMKV application again?

[2017-09-01 00:24] dorgan commented on #162
@donmelton - yes, but only after following this:  http://www.makemkv.com/forum2/viewtopic.php?f=1&t=16556

[2017-09-01 00:24] #162 closed

[2017-09-01 00:56] donmelton commented on #162
@dorgan Ah, the Beta key. Yes, that would be required. :)

[2017-09-06 23:02] joelvh opened #163 "Don't crop 4:3 aspect ratio videos"
Hi there,

Just discovered this project and replaced some home-made HandBrake commands with this!

I've created a simple batch script that does several things, but primarily converts MKV to MP4 after MakeMKV processes a DVD.

From what I can tell, what would be really handy is if `video_transcoding` had an option to skip crop detection if the aspect ratio of the video is 4:3. In DVD terms, this me

[2017-09-07 15:16] donmelton commented on #163
@joelvh My apologies for not replying sooner! I got the notification last night when I was away but forgot to respond when I got back.

I'm glad my tools are working for you. Essentially they started out as my own hand-made scripts to wrap HandBrake. :)

As to your proposal, I'm not sure what you mean since the `transcode-video` tool doesn't apply any crop, detected or otherwise, by default. In ot

[2017-09-07 19:16] joelvh commented on #163
@donmelton by all means, that was a very quick reply!

Maybe giving a bit more context will help clarify my experience, and it could very well be that this is not a relevant use case because it is related to batching and not inspecting videos by hand and configuring the `transcode-video` command per video.

I had a DVD that was ripped to MKV with MakeMKV, and then my script went through each MKV i

[2017-09-07 22:20] donmelton commented on #163
@joelvh Ah. I see what you mean now.

OK, this is yet another reason why `--crop detect` will never be a default behavior of my `transcode-video` tool. And every month I regret adding that feature because that's about how often someone opens an issue like this. :)

Here's the problem: both HandBrake and FFmpeg do a shitty job of detecting crops. At best, they get it right about 90-95% of the time.

[2017-09-07 22:41] joelvh commented on #163
@donmelton Ah - yeah. I'm sorry - I should have thought to look at the closed issues!

I'm definitely taking the lazier approach, having the daunting task of ripping a large DVD collection I should have started this process with years ago. My approach is to check crops afterwards and fix the bad ones.

For batch processing, I can see a pipeline approach with some detection rules. But the inconsist

[2017-09-07 22:41] #163 closed

[2017-09-14 20:09] arikalish opened #164 "Gem fails to install on High Sierra"
I know Gramps don't beta (tm), but I figured since the release of macOS 10.13 is near I'd add this issue now.

When attempting to install the video_transcoding 0.17.4 on macOS 10.13 there is a type conversion error:

[code]

Unfortunately, there's no line number given.

of note, 10.13's system Ruby is v2.3

[code]

[2017-09-14 20:13] arikalish commented on #164
Some more details:

[code]

[2017-09-14 20:15] arikalish commented on #164
And one more... this one points directly to the `.gemspec` file.

[code]

Maybe the multiline string in the `description` field is throwing it off?

[2017-09-14 20:27] arikalish commented on #164
OK... sorry to spam the issue. This seems to be a bug in RubyGems. Updating to 2.6.3 fixed the issue for me. I had to remove `/usr/local/bin/update_rubygems` per this comment: https://github.com/rubygems/rubygems/issues/1560#issuecomment-245198719

so:

[code]

Oy...

[2017-09-14 20:27] #164 closed

[2017-09-14 20:32] donmelton commented on #164
@arikalish Wow! You filed and then resolved this issue while I was in the shower. :)

That's actually good to know because I'm sure you won't be the first person to hit that bug. Of course, this is exactly _why_ Gramps don't Beta. I'll probably get around to installing 10.13 in December or so. No rush!

[2017-09-14 20:38] arikalish commented on #164
Yeah... curious is that RubyGems version is the system version or if that's something left over from my Sierra install. I'm assuming the former because it worked on 10.12.

[2017-09-14 23:32] donmelton commented on #164
@arikalish You should always reinstall Homebrew when you install a new major OS. And install Ruby via that Homebrew after that. Then you shouldn't have a problem.

[2017-09-15 01:51] arikalish commented on #164
Yeah... I did a ‘brew update’ and ‘brew upgrade’. I went down an ‘rvm’ rabbit hole a while back and never want to deal with that again ;).

[2017-09-15 17:23] donmelton commented on #164
@arikalish Yeah, best to stay away from RVM. :)

[2017-09-16 16:34] chrisridd opened #165 "Commas in chapter names truncate the name"
I used `transcode-video --mp4 --chapter-names filename.csv` where my filename.csv contained these lines (amongst the others)

[code]

[Miss Congeniality - don't judge.]

Anyway it looks like the commas caused problems, because the .mp4.log shows:

[code]

Subler.app confirms these truncated names were indeed written into the mp4 file.

[2017-09-16 17:35] martinpickett commented on #165
This behaviour comes from Handbrake rather than Don's script. You need to escape the commas in the chapter title. It's poorly documented in Handbrake but `\,` works for me. So

`10,Nice Work (Mustang Sally, She's a Lady)`

Becomes

`10,Nice Work (Mustang Sally\, She's a Lady)`

[2017-09-16 17:36] donmelton commented on #165
@chrisridd Sorry I didn't respond sooner. I was out walking the dog.

Doh! I was just typing to ask you that very question. :)

OK, this is really good to remember! I forgot all about the escaping issue.

[2017-09-16 17:37] donmelton commented on #165
Dammit, I put emojis on my own comment by accident. :)

[2017-09-16 17:38] donmelton commented on #165
@chrisridd Are you OK with closing this now?

[2017-09-16 17:39] donmelton commented on #165
@martinpickett And, BTW, thanks for figuring that out!

[2017-09-16 18:09] chrisridd commented on #165
One day I'll find a real bug :-)

Thanks @martinpickett for the backslash trick, yep we're good to close this one.

[2017-09-16 18:09] #165 closed

[2017-09-18 01:06] kvanh commented on #164
Just FYI, I did an install on a 10.13 GM install and the install completed successfully. I did need to install GM Xcode and Xcode command line tools for Homebrew to work correctly, but that seems unrelated to the gem install. This machine was originally built as a format and start from scratch install of High Sierra beta (I think beta 5?). GM install was on top of the beta builds.

Versions of gem

[2017-09-18 02:16] arikalish commented on #164
@kvahn good to know. Must have been something odd about my 10.12 environment that didn’t migrate well to 10.13.

[2017-09-18 02:16] arikalish commented on #164
Whoops... sorry @kvanh. Typo’d

[2017-09-19 17:25] darkstardew opened #166 "Change AAC bitrate?"
Is there any way to change the default AAC bitrate without changing the code and recompiling? I can't seem to find any options for this, unlike AC3. It looks like I can also pass options directly to HandbrakeCLI but I was wondering if the ability exists to do it or would be added. Thanks!!!

[2017-09-19 18:02] donmelton commented on #166
@darkstardew No, there's no API to change the bitrate of AAC audio in `transcode-video` without using `--handbrake-option`.

Why is that?

First, simplicity. It's one less option in an already overcrowded API.

Second, unlike the AC-3 bitrate which is—by default—quite large, there is little to no benefit to reducing or increasing the AAC bitrate. At 160 Kbps for stereo, AAC is essentially transpar

[2017-09-19 18:31] darkstardew commented on #166
I work with a lot of live concert video which will sometimes have things like an uncompressed PCM stereo audio track, no AC3. If listening on a good system there's going to be a noticeable difference in quality (IMO)on a good system with 160Kbps vs. 256 or 320 for example. I have done this with Handbrake and don't have issues with my iPhone, AppleTV, etc. If it will be used by few I can work with

[2017-09-19 18:59] donmelton commented on #166
@darkstardew The most recent Apple TVs do support 320 Kbps AAC. Buy many of them don't.

OK, here's how to use `--handbrake-option` to set the audio bitrate for an AAC track:

1) First execute your command with the `--dry-run` option.

2) Look for `--audio=` and `--aencoder=` in the output for `HandBrakeCL`. That will tell you how many tracks you have and which encoders are used for those tracks.

[2017-09-19 22:29] darkstardew commented on #166
Works great! Thanks for your prompt response. I ended up using ab=320 (no comma) in this case because there was only one audio stream. If I understand correctly I'd use the comma if I had a second output stream for audio.

[2017-09-19 22:34] donmelton commented on #166
@darkstardew I'm glad that worked!

Yes, that comma in my example was used to separate two bitrate values, the first value being blank to indicate the default bitrate for the AC-3 audio track.

If this is working for you now, one of us can close the issue.

[2017-09-19 22:35] #166 closed

[2017-09-21 01:21] dorgan opened #167 "hanbrake exist code 255 only when using from plex"
So currently i have a DVR transcode script

[code]

And when i execute that on a file as the plex user it works just fine.  However when plex tries to do it, it is getting the following error **/usr/local/bin/transcode-video: HandBrakeCLI failed during execution**  the exit code is 255

[2017-09-21 01:59] donmelton commented on #167
@dorgan Woof. This is a hard one because I can't see the setup on your device.

The error code of `255` is just a generic failure passed through from `HandBrakeCLI` itself.

But, this is very likely a permissions or path error. Possibly both. Why? Because that's usually what happens when you switch users. So, you really need to verify that the runtime environment—the permissions and path—are the s

[2017-09-21 02:06] dorgan commented on #167
Ok I will remove the fully qualified path.  And add some debugging such as
outputting $PATH and see if I can track it down that way. Guess I could
also come up with a crib that check for .ts files, which is what Plex
creates and then converts to .mkv.

On Wed, Sep 20, 2017 at 9:59 PM Don Melton <notifications@github.com> wrote:

[2017-09-21 02:09] donmelton commented on #167
@dorgan Sounds like a good plan! Let me know how it goes. I'll leave this open so you can discuss your findings. They may be helpful to others. And I'm sure I'll learn something from it.

Good hunting!

[2017-09-22 02:08] kvanh commented on #167
Don't know if this will help but here's a script I use to process files. I create a script for each movie but the only think I edit is the crop information. If it finds a CSV file it adds that to the command line as the chapter names.

Because of how I lay out my rips folder structure, the movies are in a directory that is the full name of what I want the Plex movie to be named. So while it may co

[2017-09-22 02:19] donmelton commented on #167
Thanks, @kvanh! That could be helpful to @dorgan.

I do something similar, but I keep the crop information, e.g. `0:0:240:240`, in a separate file indexed by the name of the video. That way the script doesn't have to change for each video.

[2017-09-25 20:27] dorgan commented on #167
OK so I have check permissions as well as tried out a different script, which utilizes FFMPEG.  @kvanh  the whole point of this script is it works on any faile and is something that plex runs after each recording.  I tried to add some verbose output to get more information as to whats going on and still this is the only output I get based on the following script:

[code]
#!/bin/bash
# ------------

[2017-09-25 20:39] dorgan commented on #167
OK so I put together another script that uses HandBrakeCLI directly and noticed its outputting the following:

[code]

When I had this error with FFMPEG I have to compile from source.  However running transcode-video form the command line works just fine both as the user I log in as and as the plex user it works just fine.

[2017-09-25 20:52] dorgan commented on #167
GOT IT.  Handbrake must have been messed via shared libraries or something.  Installed handbrake via the official PPA for ubuntu and its working.

[2017-09-25 20:52] #167 closed

[2017-09-26 09:23] steveowashere opened #168 "Extract Subtitle Argument?"
Hello,

I am finding in my workflow it's much easier for me to deal with external subs, rather than internal ones. My reasons are:

- Modifying internal subs requires the whole MKV to be re-transcoded(right term?) in order to remove or add them

- Plex doesn't like them. The Plex app on several of my smart TV refuses to play nice with internal subs. External subs work perfectly however.

- For me

[2017-09-26 15:49] donmelton commented on #168
@steveowashere Thanks for using my tools and you are very welcome, sir! I'm glad they're working for you.

First, to address some of your issues:

* Removing, adding or manipulating subtitles in a MKV or MP4 container does _not_ require that the video or audio tracks be re-transcoded. So there's no quality loss or significant time usage in manipulating subtitles. This editing process is typically

[2017-09-27 04:41] steveowashere commented on #168
Hi @donmelton , I appreciate the speedy reply.

Thanks for the clarification on re-muxing vs. transcoding (still somewhat new and getting familiar with the terms) If subs can be added without affecting any of the other tracks, then that's a really good solution. Re-muxing still takes a little time, but by far much less than completely re-transcoding.

After mentioned that my setup might be misconf

[2017-09-28 03:46] quasimog opened #169 "Batch processing Video Transcoding Gem not working on two Macs with new project."
[queue.txt](https://github.com/donmelton/video_transcoding/files/1339413/queue.txt)
I have been batch processing video files with the VTG for a couple years. For some reason today I can not get it to work on either computer, one on 10.12.6 and the other on the 10.13 Beta. Both have worked as early as last week.

Workflow

1. cd into destination folder
2. use find /path/to/my/movies -name \*.MOV >q

[2017-09-28 04:00] quasimog commented on #169
Update: Seems to be working now, must be the way I deleted the previous entries after only half a batch was completed.  The empty line at the top of the queue.txt must have been stopping the process for some reason.

[2017-09-28 05:13] donmelton commented on #169
@quasimog Well, it's a good thing I got distracted by unexpected visitors an hour ago so you could solve this yourself. :) Seriously, my apologies for being unable to respond right away.

Yes, any blank line in the `queue.txt` file will stop batch processing. That's actually a feature, allowing you to control the looping behavior without changing the executing script.

I'm going to assume we can c

[2017-09-28 06:05] quasimog commented on #169
Yes thank you very much!

Sent from my iPhone.

[2017-09-28 14:24] donmelton commented on #169
@quasimog You are very welcome, sir.

[2017-09-28 14:24] #169 closed

[2017-09-28 14:25] donmelton commented on #168
@steveowashere You are very welcome, sir! I'll close this for now but don't be shy about opening new issues or even commenting here again.

[2017-09-28 14:25] #168 closed

[2017-09-29 13:09] Unkas opened #170 "Transcoding Plex DVR raw files barely reduces the file size."
Hi Don,

I've been using your tool to try and reduce the file sizes of the result of DVRing show using Plex, but the size only gets reduced by a couple hundred MB.  They are originally ~3.1 GB and only go down to ~2.8 GB.  Is there any way to decrease the size further with your tool?  Let me know if I can provide you with any more information.

Thanks.

[2017-09-29 14:37] donmelton commented on #170
@Unkas Yes, you can apply more compression and even lower resolution to reduce output size. But the risk in doing so is, as always, quality loss. Of course, your mileage may vary.

You should first try adding the `--target small` option and argument. This lowers the target bitrate significantly.

It that's not sufficient and your original is 1080p, then you can also add the `--720p` option to fit

[2017-10-07 06:18] majormoses commented on #162
![image](https://user-images.githubusercontent.com/3145127/31305350-9b5b3896-aaec-11e7-84d0-21757f2fdba1.png)

[2017-10-07 15:15] donmelton commented on #162
@majormoses Ugh. It looks like Mike at MakeMKV is having problems with his ISP again. :( Thanks for the heads up. Hopefully the site will be back online soon.

[2017-10-07 15:24] majormoses commented on #162
If you know him please let him know I would be willing to discuss sponsoring some new hosting. He can reach out to `me@benabrams.it`.

[2017-10-07 15:40] donmelton commented on #162
@majormoses That's very generous of you! Unfortunately, I don't know Mike personally. In fact, I suspect "Mike" is not his real name. But if I do find out how to contact him, I'll pass your information along.

[2017-10-07 19:02] dorgan commented on #162
A simple Digital Ocean node should work for him and be cheap.

On Sat, Oct 7, 2017 at 11:40 AM, Don Melton <notifications@github.com>
wrote:

[2017-10-07 19:44] majormoses commented on #162
Yup, depending on what he needs (is doing) even that might even be overkill.

[2017-10-08 16:23] dorgan commented on #26
Any chance this has changed in the past year??

[2017-10-08 17:01] dorgan commented on #66
Any way to suppress this output?

[2017-10-08 17:54] donmelton commented on #66
@dorgan Unfortunately no, unless you want to redirect all diagnostic output to `/dev/null`. The `VBV underflow` warnings are integrated into the rest of `x264`'s system.

The only other way that I can think of is hacking a special build of libx264 into `HandBrakeCLI`. And I've never wanted to suppress them _that_ desperately. :)

[2017-10-08 17:57] donmelton commented on #26
@dorgan Yes! There's a good chance this is my next major feature. But, as I wrote in the FAQ, "Unfortunately, Enhanced AC-3 output is currently limited to 5.1 audio channels in HandBrake." So I'm still waiting on the HandBrake team to change that.

[2017-10-09 08:21] samhutchins commented on #162
I would guess the issue is legal more than anything, I suspect the site would have problems with any hosting provider. I'm sure his hosts get a lot of pressure from Hollywood

[2017-10-09 08:25] donmelton commented on #162
@samhutchins Agreed.

[2017-10-10 08:14] k06a commented on #160
[code]
[code]

[2017-10-10 14:25] donmelton commented on #160
Thanks, @k06a! It's good to know how to do that with FFmpeg, too.

[2017-10-12 08:37] fahadshery opened #171 "How to install Don Melton's Video Transcode Scripts on FreeNAS or other BSD based distros"
Hi Don,

I have been studying your amazing work and would love to use it but I am struggling to install it on my `FreeNas` box.
I have a jail (which is like a container in `FreeNas`) that is called Handbrake.
Within that `jail` I have manually installed `pkg install ruby handbrake libass ffmpeg x265 libaacs libbdplus mkvtoolnix mp4v2 mpv`
When I do `gem install video_transcoding` it says gem comma

[2017-10-12 10:54] samhutchins commented on #171
Is there a package named something along the lines of ruby-gems you need to install as well? It looks like the version of Ruby that's packaged for FreeNAS doesn't include the `gem` package manager

(I have absolutely no experience with FreeNAS)

[2017-10-12 16:36] fahadshery commented on #171
This is what I am getting:

`root@handbrake_encoding:/ # pkg install ruby-gems
Updating FreeBSD repository catalogue...
FreeBSD repository is up to date.
All repositories are up to date.
pkg: No packages available to install matching 'ruby-gems' have been found in the repositories`

[2017-10-12 19:58] donmelton commented on #171
@fahadshery Sorry I took so long to respond. I've been in the car traveling across state all morning. Thank god for, as usual, good questions from @samhutchins!

Unfortunately, like Sam, I have no experience with FreeNAS. But someone on the Web probably does. So, is it OK if tweet about this bug and ask for help?

[2017-10-12 21:18] fahadshery commented on #171
@donmelton I have raised the issue here: https://forums.freenas.org/index.php?threads/how-to-use-dons-video-transcode-script-on-handbrake-jail.58416/#post-412429

I would love to be able to use your scripts and hopefully we will find a solution soon.

[2017-10-13 11:22] klogg416 commented on #162
@majormoses I am super late to this party, but I did grab the beta key for the month of November before the site went down. It's only a month, but may hold you over until they are back up.

MakeMKV key good to the end of November:
T-rTYSOM9ktvR0Fihn9_2zbORtGKYXUsMtMoraj2fy_wXlDPrx6EX6Xk56opCsOK9bJl

[2017-10-13 13:13] samhutchins commented on #162
Site’s back up now too

[2017-10-13 15:15] donmelton commented on #162
@samhutchins Good advice!

[2017-10-14 09:43] fahadshery commented on #171
It worked by:

` ruby ./transcode/video_transcoding/bin/transcode-video -h`

Probably change the title to "How to install it on FreeNAS or other BSD based distros" and add instructions to the installation section

Many thanks and keep up the good work...

[2017-10-14 15:07] donmelton commented on #171
@fahadshery Hmmmm, it sounds like there's a problem with the path to your Ruby Gems on FreeNAS/BSDs if you have to resort to that.

[2017-10-15 13:43] lambdan opened #172 "Subtitle arguments are not handled by recent HandbrakeCLI nightlies"
I'm not sure as of which version, but newer HandBrakeCLI nightlies do not seem to work with your scripts `--burn-subtitle x` argument (and possibly other commands/arguments, haven't tested.)

It's evident by just running with your scripts `--dry-run` parameter (see the attached screenshot). With a HandbrakeCLI nightly nothing about subtitles is shown, so maybe it has something to do with the media

[2017-10-15 16:02] donmelton commented on #172
@lambdan Thanks for the heads up! And for the detailed information.

Unfortunately, this wouldn't be the first time subtitles or other major functionality has broken in HandBrake nightly builds. :( And I suspect you're right that this is due to a media scanning failure, probably because the HandBrake developers changed the diagnostic output format that I'm parsing.

I'll take a look at this in the

[2017-10-16 01:22] donmelton commented on #172
@lambdan OK, I can confirm this bug. And my guess as to the reason for it was correct.

It looks like the change which caused the problem is the update to Libav 12.2 two weeks ago:

https://github.com/HandBrake/HandBrake/commit/72b4ee71638ab2f0b658f3076119b3d28f41f177

Apparently that changed the diagnostic output for subtitles.

I think I can fix this but it's going to take awhile. The hard part

[2017-10-17 00:28] donmelton commented on #172
@lambdan Looks like I was wrong about which change broke subtitle scanning. It was done all the way back March 10 with this:

https://github.com/HandBrake/HandBrake/commit/bd22891d633e16d7aedddadd2e4dd716f615d847

And I doubt they plan on changing it back. God willing they won't change the formatting for audio tracks.

[2017-10-19 15:32] joethezombie opened #173 "bad interpreter error after High Sierra update"
Since upgrading macOS to High Sierra, I can no longer use the video_transcoding tools.  I get the error

`-bash: /usr/local/bin/detect-crop: /System/Library/Frameworks/Ruby.framework/Versions/2.0/usr/bin/ruby: bad interpreter: No such file or directory`

Indeed, browsing to the Ruby versions reveals only 2.3.  Anyway I can fix this?  Sorry if this is an elementary question, I'm an end user and not

[2017-10-19 15:38] donmelton commented on #173
@joethezombie Thanks for the detailed information! I always appreciate that because you made it easy to diagnose this problem.

Whenever you do a major OS upgrade on macOS, e.g. Sierra to High Sierra, you need to remove and reinstall Homebrew and your Ruby Gems. Otherwise you get Ruby runtime errors and other even more annoying problems like this. I know that sounds like "reinstall Windows" and a

[2017-10-19 16:37] donmelton commented on #173
@joethezombie I'm glad that worked out! And you are very welcome, sir! I'll close this now but feel free to continue commenting here or you can open another issue.

[2017-10-19 16:37] #173 closed

[2017-10-19 17:21] arijon commented on #153
@donmelton Hope all's well! Just taking another crack at this. I was wanting to play a video ripped from Blu-Ray on my iPad pro 10.5", but the letterbox at the top and bottom are quite pronounced. I tried to crop it with the default cropping you put in the tutorial, as well as the detect crop, but the letterbox doesn't go away. I'd be willing to sacrifice a bit of the sides if I could have a full-

[2017-10-19 17:47] donmelton commented on #153
@arijon I don't think you need additional cropping depending on which player you're using on your iPad. Most good players, e.g. [Infuse](https://firecore.com/infuse) and [VLC](http://www.videolan.org/vlc/), allow you to "zoom" in so that your video's shortest axis (either vertical or horizontal) fits tightly against the edge of the screen while the other axis is cropped. I'm not sure if the built-

[2017-10-19 20:24] Unkas commented on #170
I've been running it for a couple weeks now and it works quite well thanks!

[2017-10-19 20:24] #170 closed

[2017-10-19 20:36] donmelton commented on #170
@Unkas Good to know! And thanks for the update. :)

[2017-10-20 19:57] arijon commented on #153
@donmelton I was using DS Video. I'll give VLC a try. Thanks again!

[2017-10-21 06:20] #153 closed

[2017-10-25 20:49] senkron24 opened #174 "multitiple files convert like query ?"
big thx for this scripts
its a posible to start folder to transcode all files one to one with same name i try same variant bud i not get this sucess and the problem its thad the movie name will not same if you choose just folder the name of movie will the name of folder..
if its posible please need one example
kind regarts

[2017-10-25 22:01] donmelton commented on #174
@senkron24 I'm honestly not sure that I understand what you want to do. And for that I sincerely apologize because I know you're trying to write as clearly as possible.

If you want to transcode multiple files in a folder with a single command you cannot pass a path to that folder as an argument. That's because folder arguments are interpreted as DVD or Blu-ray disc image directories.

However, yo

[2017-10-27 20:32] donmelton commented on #172
@lambdan I just filed this bug with the HandBrake team:

https://github.com/HandBrake/HandBrake/issues/962

Hopefully they will back out their change to `test/test.c` which causes this problem. Otherwise it's going to be difficult if not impossible to work around.

[2017-10-29 12:42] senkron24 commented on #174
ooo yes thad fine. exackly thad i mean with multi files with one comand
i will try this comand to do this
big thx for the help ..

Yasar Maymak

TvJoy Iptv Global Systems ..

Best Regarts
İyi Çalışmalar
---------------------
mail: yasar@tvjoy.tv
mail: senkron24@gmail.com

Tel: +905427885669

2017-10-26 1:01 GMT+03:00 Don Melton <notifications@github.com>:

[2017-10-29 14:30] senkron24 commented on #174
i just test like this comand line
root@tvjoy:/# transcode-video "/home/vip2/transc/*.avi" -o "/home/vip2/Finish"
bud get a result like this
/usr/local/bin/transcode-video: No such file or directory - /home/vip2/transc/*.avi

No such file or directory bud thare its video files exist with avi format

can help me to make its ..?

[2017-10-29 19:56] donmelton commented on #174
@senkron24 Sorry I took so long to reply.

The problem is that you're quoting the `*` in the input name as a literal string instead of allowing your shell to perform pathname expansion on it.

Try this instead:

[code]

Do you see the difference? Only the base pathname in the input is quoted. The `*.avi` is not.

I hope that helps.

[2017-10-30 08:01] gschwepp commented on #171
Hi,
I just installed video_transcoding in a jail on FreeNAS myself and it works fine.  fahadshrey you just cloned the repository and did not install it properly.

First you should remove the cloned repository, to avoid any confusions between the scripts you run.

FreeBSD/FreeNAS does not install gems with ruby, you need to install it separately:

`pkg install ruby23-gems`

Then run: `gem install v

[2017-10-30 13:29] nobodo commented on #160
I needed -tag:a ac-3 to make audio work and I had the input file as .mov so output had to be .mov too (.mov -> .mp4 did not work for Quicktime).

`ffmpeg -i input.mov -vcodec copy -acodec copy -tag:v hvc1 -tag:a ac-3 output.mov`

[2017-10-30 14:32] k06a commented on #160
Full version posted here: https://gist.github.com/k06a/45f4ff4e52a7c0ad2add370ab1a315e7

Installation:
[code]

Converting video, than audio, than combining into 1 file and finally fix tag:
[code]

[2017-10-30 20:47] donmelton commented on #171
@fahadshery OK, based the incredibly detailed and useful information from @gschwepp, can we close this issue now?

[2017-10-30 21:01] donmelton commented on #160
@k06a Thanks for doing all the research and testing on this!

[2017-10-31 09:58] senkron24 commented on #174
no problem thank your for your nice support
oo yeah i see the difrens and its works very great ,now all its ok

Kind regarts

[2017-10-31 15:29] donmelton commented on #174
@senkron24 You are very welcome! I'm glad that worked.

I'll close this now but don't be afraid to open another issue if you run into a problem.

[2017-10-31 15:29] #174 closed

[2017-10-31 21:08] fahadshery commented on #171
@donmelton yes please. @gschwepp awesome! thank you.. I will give it a try and will get back to you if have any issues. Cheers

[2017-10-31 21:17] #171 closed

[2017-11-02 10:14] senkron24 opened #175 "convert to --480p"
hi
i try to convert my videos to 480p bud i get error
my string like this
transcode-video --480p "/home/vip2/transc/"*.avi  -o "/home/vip2/Finish/"
and get this
/usr/local/bin/transcode-video: invalid bitrate argument: --480p

bud if i make it with --720p its works also how to work with 480p

thx for you help in advence

kind regrats

ps : normaly i do this on my old script
-e x264 -q 22 -r 24 -B

[2017-11-02 13:42] senkron24 commented on #175
yes big thanks thad i have soruch perfeckt help +

[2017-11-02 14:39] donmelton commented on #175
@samhutchins Thanks, Sam! You are correct, as usual. :)

senkron24 I'll close this now since it seems you have your answer.

[2017-11-02 14:39] #175 closed

[2017-11-12 20:52] aujang commented on #160
@ntodd Thank you so much for this. I was able to convert a large batch of improperly tagged files in seconds and they now all play flawlessly on my Apple TV. You're my hero. :)

[2017-11-13 15:35] asheimo opened #176 "Deinterlacing not working with Anime"
Anime that I have converted (Avatar: The Last Airbender, Inyuahsa, etc.) show interlacing issues, when transferred with WinX dvd ripper using the deinterlacing option the lines di appear and the image is smoother.

[2017-11-13 16:01] samhutchins commented on #176
I don't think `transcode-video` or Handbrake try to do any de-interlacing by default (I could be wrong though)

You may need to pass some extra args to `transcode-video` for content you know is interlaced, I think adding something like `-H decomb` might do what you want.

See https://handbrake.fr/docs/en/latest/cli/cli-guide.html for more options relating to de-interlacing

[2017-11-13 16:57] donmelton commented on #176
@asheimo As it says int the `transcode-video --help` output, the `deinterlace` filter is applied automatically for some inputs, specifically for those at precisely `29.97` FPS and when the user has not already specified an output frame rate or the `deinterlace`, `decomb`, `detelecine` filter.

It's likely that you need to apply one of those three filters yourself to fix the problem. As @samhutchin

[2017-11-13 17:41] asheimo commented on #176
That does appear to make a difference. I am now experimenting with using just `--filter decomb` or as your faq suggests in settings you use `--force-rate 23.976 --filter detelecine` to get the best quality. My apologies if this is a noob question/request.

[2017-11-13 17:55] donmelton commented on #176
@asheimo I'm glad that's working for you! And don't worry about the question. We welcome them here.

I'll close this now but feel free to continue commenting here or even open another issue.

[2017-11-13 17:55] #176 closed

[2017-11-17 20:38] DRAKOZ opened #177 "PCM Audio not being recognized, any tips?"
Stream #0:1(eng): Audio: pcm_s24le, 48000 Hz, 1 channels, s32 (24 bit), 1152 kb/s (default)
    Metadata:
      title           : Mono
      BPS-eng         : 1152000
      DURATION-eng    : 01:39:26.130000000
      NUMBER_OF_FRAMES-eng: 178984
      NUMBER_OF_BYTES-eng: 859122720
      SOURCE_ID-eng   : 001100
      _STATISTICS_WRITING_APP-eng: MakeMKV v1.10.7 linux(x64-release)
      _STATISTICS

[2017-11-17 20:41] donmelton commented on #177
@DRAKOZ Interesting. What version of of `HandBrakeCLI` are you using? Also, does the GUI app recognize the audio tracks?

[2017-11-17 21:05] DRAKOZ commented on #177
1.0.7+ds1-2build1

And VLC Recognizing it as Mono [English] when opened before transcoding, after there is no track.

[2017-11-17 21:06] DRAKOZ commented on #177
Also, this is the first error I have encountered using it over 150 times, your transcoding is a lifesaver!! So thank you very much.

[2017-11-17 21:11] donmelton commented on #177
@DRAKOZ You are very welcome!

OK, I'm not sure what `1.0.7+ds1-2build1` means. Is this a nightly or development build?

Are you saying that after VLC opens the problem file, the track disappears? I don't understand what you mean.

Were you able to try the problem file in the HandBrake application? Also, which platform are you on?

Thanks.

[2017-11-17 21:16] DRAKOZ commented on #177
Sorry, that's just what Ubuntu spat back as my version. Looks to be the 1.0.7 build for artful aardvark.

VLC opens and can play the 21gb MKV with the audio track, after using your transcode-video to make it smaller, the audio track is deleted and VLC no longer sees an audio track.

Pre-trancode: 21gb, audio there
Post-transcode: 4.5gb, no audio

I'm on Ubuntu 17.10

[2017-11-17 22:42] donmelton commented on #177
@DRAKOZ Ah. OK, that makes sense. Thanks!

It looks like the error you're getting is from `HandBrakeCLI` itself. And I have no idea why it would dislike that particular audio track so much. It's very weird.

That's why I asked if it's possible for you to run the HandBrake GUI application to see if it has the same problem. Is that possibly on Linux?

[2017-11-18 01:09] DRAKOZ commented on #177
Embarrassingly enough, I've never used the GUI version of handbrake, your code is just so simple to use. I'll give that a go. Thank you!

[2017-11-18 01:25] donmelton commented on #177
@DRAKOZ Thanks. I'm sure you don't want to do your actual transcoding with the app because it doesn't have my special ratecontrol system, but we can find out if HandBrake fails to recognize the audio track there, too. If it also fails, then we know the problem is definitely with HandBrake.

[2017-11-18 03:33] DRAKOZ commented on #177
Exactly why I don't use the base GUI.

Wow that took forever. Ok, just used Handbrake with GUI. It is the issue! Totally disregarded the PCM mono audio.

[2017-11-18 03:36] donmelton commented on #177
@DRAKOZ Thanks for doing that test! Yeah, I suspected it was HandBrake based on the error text that you so nicely pasted into the issue.

Unfortunately, I have no freakin' idea how to fix this problem for you.

Is it possibly that you could remux the file with a utility like `mkvmerge` or `mp4box`? Maybe it's just the container, i.e. the file format itself, that's confusing HandBrake?

[2017-11-18 03:40] DRAKOZ commented on #177
Great ideas. I'll do some tests and let you know what it turns up. Thank you so much for responding!

[2017-11-18 03:45] donmelton commented on #177
@DRAKOZ Sure! I'll close this now, but please feel free to comment here (I get the notifications) or re-open if you think there really is a bug in `transcode-video`. Of, heck, just open another issue, too. I'm easy. :)

[2017-11-18 03:45] #177 closed

[2017-11-22 03:23] rncole opened #178 "convert-video when called by cron fails with <outputfile> Does Not Exist"
I have written a script that calls on the convert-video utility and have it scheduled via crontab on OS X 10.13.  The script when invoked via command line directly functions as expected.  When it is called via crontab it fails with <outputfile> Does Not Exist.

[2017-11-22 03:35] donmelton commented on #178
@rncole Then it's likely the value of your `$PATH` variable is different when the scrip is invoked via crontab as opposed to when you invoke it directly from the command line. I recommend adding a line to your script which prints out the value of `$PATH` so you can check this.

[2017-11-22 03:37] donmelton commented on #178
@rncole It's also possible that if the user and group are different when the crontab is invoked, then some kind of privilege violation is happening. You may want to check that as well.

[2017-11-22 03:46] rncole commented on #178
Here are two instances, the first of it failing, and the second is manually run:

iMac:~/bin rncole$ cat tmp/cron-transcode-mkv.log
Tue Nov 21 22:19:00 EST 2017
path: /Users/rncole/Movies/Rips/How_To_Train_Your_Dragon_SE
No MP4 Found; Transcoding...
Line: /Users/rncole/Movies/Rips/How_To_Train_Your_Dragon_SE/How_To_Train_Your_Dragon_SE_t00.mkv
MP4 Line: /Users/rncole/Movies/Rips/How_To_Train_Your_

[2017-11-22 03:48] rncole commented on #178
Note that it’s in my user crontab, and the files are in my user folder.  The only output from the script is as shown (<outputfile> Does Not Exist).

Oh, and thanks for the immediate reply - that was quick!

[2017-11-22 03:51] donmelton commented on #178
@rncole Is your current working directory somehow different in the two cases?

[2017-11-22 03:55] rncole commented on #178
I was JUST about to email you.  I just noticed that when manually run here the output file is being put in the bin folder where I’m invoking it.

I had understood your documentation that the output file would be placed in the same folder as the input file, and couldn’t find a way to specify the output file.  I added a cd $path command to my script and it appears to be working correctly.

Thanks ag

[2017-11-22 04:03] donmelton commented on #178
@rncole The built-in `--help` and the `README` document do say that output, by default, is placed "in current working directory." But maybe I should make that more obvious?

Anyway, I'm glad your problem is solved! Thank you so much for opening this issue so we could discuss it. And please feel free to open other issues in the future. I value your interest in and use of the tools.

I'll close this

[2017-11-22 04:03] rncole commented on #178
Nope, spoke too soon.  I was using the -o <outputfile> option previously, and had removed it, and that tripped me up.

Here’s the modified output now showing the output of “pwd” in the log:
iMac:~/bin rncole$ cat tmp/cron-transcode-mkv.log
Tue Nov 21 23:03:00 EST 2017
path: /Users/rncole/Movies/Rips/How_To_Train_Your_Dragon_SE
Working Directory: /Users/rncole/Movies/Rips/How_To_Train_Your_Dragon_S

[2017-11-22 04:03] #178 closed

[2017-11-23 03:30] donmelton commented on #178
@rncole You are very welcome! And so is beer. And it's funny that `launchd` fixed it. :)

[2017-11-23 05:47] lazling commented on #160
Try a HEVC converter for Mac like brorsoft video converter for mac.

[2017-11-23 05:52] donmelton commented on #160
@lazling Do you mean the iSkysoft iMedia Converter? I think that would just re-transcode the input and degrade quality. Something a little more subtle and low-level is needed for this issue when the files are already transcoded. I think this is just a tagging problem with metadata.

[2017-11-25 01:09] donmelton opened #179 "Proposal to improve average bitrate (ABR) ratecontrol"
# Proposal to improve average bitrate (ABR) ratecontrol

My current implementation of the `--abr` option for single-pass average bitrate (ABR) ratecontrol has the following problems:

1. There are too many cases of blockiness with transitions to indistinct content like the fog after the Marvel logo at the very beginning of "[Captain America: The First Avenger (2011)](http://www.blu-ray.com/movies/

[2017-11-25 03:15] donmelton commented on #179
BTW, there's another advantage to disabling the macroblock-tree system---a slight performance improvement. Not much but everything helps, doesn't it? :)

[2017-11-25 03:25] donmelton commented on #179
I also plan to change the description of the `--abr` option in the built-in `--help` output from:

[code]

To this:

[code]

Because, really, ABR is no longer always lower quality compared to the default ratecontrol system. In fact, some videos are superior using the new ABR ratecontrol even with the default bitrate targets. Don't believe me? Try these out:

* [Daybreakers (2009)](http://www.blu-r

[2017-11-28 08:57] lazling commented on #160
@donmelton I mean Brorsoft Video Converter. It is a good HEVC/h265 converting tool. Converting always brings some loss but it can be ignore when you play it.

[2017-11-29 22:50] donmelton commented on #179
**Update:** I've decided not to disable the macroblock-tree (MB-tree) system by default. It should be your decision for each video that you transcode whether to use `--encoder-option mbtree=0` on your command line.

After transcoding over 100 videos myself, I've now found one case where disabling the MB-tree system will cause perceptible quality loss. And that's one too many for me.

In retrospect

[2017-12-01 22:17] donmelton commented on #172
@lambdan I realize it's been over a month, but... I finally have a 99% workaround/bandaid fix for this. And after a little more testing today, I'm probably going to land it in the tree and release it sometime in the next few days. Stay tuned.

[2017-12-01 23:07] lambdan commented on #172
@donmelton That's cool! I heard you even talk about the issue on an episode of Vector so I was excited to hear about one of my issues being escalated that far

[2017-12-01 23:53] donmelton commented on #172
@lambdan You heard that? :) Seriously, thanks for listening to our podcast.

Anyway, the fix will not use the new `--json` API provided in nightly builds of `HandBrackeCLI` that I talked about on the podcast. I don't plan on using that API until I can fully drop support for the current and previous release versions of HandBrake. This is because supporting both the old mechanism and the new API wou

[2017-12-02 03:58] donmelton commented on #172
It looks like language detection for individual closed caption tracks may still be wrong, too. That actually might count as a feature. :)

[2017-12-02 05:42] donmelton commented on #149
@schwa and @dmbreakey I'm closing this now because we're not getting any more traction on it. But feel free to continue commenting.

[2017-12-02 05:42] #149 closed

[2017-12-02 05:44] donmelton commented on #150
@schwa The HandBrake development team has added a feature like this recently via their new `--json` option. I should be able to leverage this eventually, but only after I no longer have to support current and older versions of `HandBrakeCLI`.

[2017-12-02 05:47] donmelton commented on #124
@msridhar I'm going to close this now since the original issue appears to be resolved. But feel free to continue commenting.

[2017-12-02 05:47] #124 closed

[2017-12-02 05:48] donmelton commented on #161
@livetvcanada Did you ever get any feedback on this via Twitter?

[2017-12-02 05:50] donmelton commented on #172
@lambdan OK, the fix is checked in and I'll probably release it tomorrow.

[2017-12-02 05:50] donmelton commented on #179
The new ABR implementation is now checked in and I'll probably release it tomorrow.

[2017-12-02 06:43] livetvcanada commented on #161
Hi,

No we did not.

On Saturday, December 2, 2017, Don Melton <notifications@github.com> wrote:

[2017-12-02 16:54] donmelton commented on #161
@livetvcanada Dang. I was hoping someone out there was an expert.

I'm not sure how to proceed on this one because, as I mentioned, it's not my area of expertise. I'll probably close this since I don't think we'll ever resolve it here. I assume you're OK with that?

[2017-12-03 00:23] donmelton commented on #179
And this is now released. Just `gem update video_transcoding` to get version 0.18.0.

[2017-12-03 00:23] #179 closed

[2017-12-03 00:23] donmelton commented on #172
@lambdan And this is now released. Just `gem update video_transcoding` to get version 0.18.0.

[2017-12-03 00:23] #172 closed

[2017-12-04 20:58] tommydj10 commented on #160
In HandBrake if you use audio coding .mp3 then the audio will NOT work for QuickTime, but if you select **HE-AAC** then it works after having run the command `ffmpeg -i input.mp4 -vcodec copy -acodec copy -tag:v hvc1 output.mp4`

[2017-12-05 18:22] senkron24 opened #181 "transcode to 480p or 576p ?"
hi i use this comand and working fine

transcode-video --720p "/home/vip2/transc/"*.mkv  -o "/home/vip2/Finish/"

its posible to make like this

transcode-video --480p "/home/vip2/transc/"*.mkv  -o "/home/vip2/Finish/"

or 576p
becouse i get this
/usr/local/bin/transcode-video: invalid option: --576p

how i can do this

kind regarts

[2017-12-05 18:57] donmelton commented on #181
@senkron24 While it's _possible_ to add a `--480p` option, I don't want to do this and complicate an already too large API. Worse, adding an option with that name (or a name like `--576p`) would not give a true DVD-like presentation of the video. For that you would need to also change the aspect ratio which is not a good idea. My old Bash-based `transcode-video.sh` script did have a `--480p` optio

[2017-12-05 20:09] senkron24 commented on #181
big thx for the support i will try

Kind regarts

[2017-12-05 20:18] #181 closed

[2017-12-05 20:18] donmelton commented on #181
@senkron24 You are very welcome! Thanks for using my software.

[2017-12-09 00:55] ntodd commented on #160
If it helps anyone, I built a version of the docker image that compiles more current versions of ffmpeg and handbrake so output from `transcode-video` is tagged with `hvc1` correctly. You can also use included ffmpeg to re-tag any existing h265 videos.

You can pull `ntodd/video-transcoding:head` to get this version and the dockerfile is at https://github.com/ntodd/video_transcoding_docker/blob/he

[2017-12-09 00:56] donmelton commented on #160
@ntodd Thanks!

[2017-12-15 09:56] steveowashere opened #182 "A little explanation on the --quick agrument"
Hello, I'm just curious about the details of the `--quick` argument. I've been using it a few times and loving the speed increase, but re-reading the documentation, I noticed that:

and

I'm just wondering if this can be elaborated on a little bit? What are the quality problems with the speed-based presets? The parts about no perceptible loss of quality, I'm just curious what is sacrificed (if any

[2017-12-15 16:51] donmelton commented on #182
@steveowashere That's a great question! I really should write a blog post about this sometime.

I'm just waking up now so I want to respond briefly but quickly to let you know that a longer answer is coming. But I need to get some coffee and other business taken care of today before I write what could be a novel-length post here in GitHub. :)

Seriously, expect something later tonight or tomorrow

[2017-12-15 17:15] steveowashere commented on #182
Thanks very much, look forward to reading what you have to say 👍

[2017-12-16 04:42] donmelton commented on #182
@steveowashere OK, here is my much longer answer...

First, let's talk about those "quality problems associated with x264 presets."

The x264 encoder has five presets (`fast`, `faster`, `veryfast`, `superfast` and `ultrafast`) in escalating order to speed up the encoding process. And they all behave pretty much as their names indicate, achieving incremental increases in performance by degrading ac

[2017-12-16 16:43] steveowashere commented on #182
Thanks this is exactly the sort of thing I was looking to read about. Now I know exactly what `--quick` is doing, I'll keep using it but with more confidence!

You mentioned using `--abr --target big --quick` and you use it yourself, so it's probably good enough for my purposes, but I've also been using the `--target 1080p=12000`, just curious if that brings anything to the table. You mention that

[2017-12-16 19:38] donmelton commented on #182
@steveowashere There's no need to increase your target bitrate that much! In fact, it's dangerous for playback compatibility on many streaming devices! Plus, if you're using  my default ratecontrol system instead of `--abr`, your peak video bitrate can really soar if you set the target that high.

Roku and other popular streaming devices have a `10 Mbps` (or `10000 Kbps`) limit on average video bi

[2017-12-16 20:19] steveowashere commented on #182
Hahaha. So glad I asked then! Of course in my mind more = guaranteed quality, when In fact it's not really the case. Thanks once again for taking the time to explain the logic. Learned a lot from this thread. I won't be using `--target 1080p=12000` anymore. 👍

That's all the questions I have in mind, so you can close this issue :)

[2017-12-16 21:11] donmelton commented on #182
@steveowashere Well, a higher bitrate almost always means higher quality. But there are times when it's just not appropriate to raise the bitrate so much. And really high bitrates go against the point of transcoding to make your video smaller and more portable. :)

Thanks for the interesting questions! I enjoyed our conversation so feel free to open other issues if you think of something else to a

[2017-12-16 21:11] #182 closed

[2017-12-19 09:23] samhutchins opened #183 "Add --dry-run to convert-video"
I think it would be nice if `convert-video` had a `--dry-run` option, partly for parity with `transcode-video`, but also because it's nice to be able to see how the tool is configuring ffmpeg. It would also allow for making minor tweaks to the output that the `convert-video` interface doesn't expose (like including only a stereo audio track, for example)

[2017-12-19 15:30] donmelton commented on #183
@samhutchins Thanks for filing this! As I wrote in our conversation on Twitter, this is a good idea although it may be a bit complicated to implement based on the current design of `convert-video`.

[2017-12-21 17:26] skinless8 commented on #101
Solved this many moons ago, but forgot to update here.

As it turned out, doing transcoding is a really good burn-in test for cpu and memory. My "K" cpu was overheating and causing the panic. This was under default optimized setting on the BIOS! I had to make some tweaks on the BIOS to prevent cpu temp to go above 80C.  I also replaced the memory since the memtest found some bad spots.

Now it's t

[2017-12-21 18:42] donmelton commented on #101
@skinless8 That's great to know! Thanks for the update. :)

[2018-01-04 10:09] Elucubrator opened #185 "Problems since upgrading to High Sierra"
Hi. I'm a complete noob when it comes to unix. I know enough to open the terminal and copy and past commands, but beyond that, I really don't understand all this.

I had the video transcode scripts working fine until earlier this week when I upgraded to Mac OS High Sierra.

Now, I consistently get the error message

`/usr/local/bin/transcode-video: No such file or directory @ rb_file_s_stat`

I've

[2018-01-04 16:17] donmelton commented on #185
@Elucubrator I'm sorry you're seeing this problem. It appears that even though you uninstalled Homebrew and then reinstalled, which is the correct thing to do on a major macOS upgrade, you still have a problem with your Ruby installation.

Perhaps there was a Ruby upgrade after you re-installed Homebrew? If so, you'll have to uninstall Ruby again via Homebrew and then manually remove your existing

[2018-01-04 23:17] Elucubrator commented on #185
Thanks Don. I'm impressed with the amount of your time you make available to folks like me, and grateful for your help!

My ruby install is `/usr/local/bin/ruby` and the version is `ruby 2.4.3p205 (2017-12-14 revision 61247) [x86_64-darwin17]`

My gem tool is `/usr/local/bin/gem` and the version is `2.6.14`.

`gem list` returns:

[code]

`gem environment` returns

[code]

[2018-01-05 00:37] donmelton commented on #185
@Elucubrator No problem! And sorry I took so long to respond this time, I was having surgery.

Thanks for all the information! And nicely formatted, too. But... dang. You configuration looks identical to mine. You don't seem to have the problem with your Gem configuration not matching your Ruby installation.

So I have no idea what could be wrong. :(

You didn't use `sudo` to install the `video_tr

[2018-01-05 03:35] Elucubrator commented on #185
I think I did have to use the `sudo` command to install.

From memory, I was getting an error message `don't have write permissions for the /usr/local/bin directory`.

Some search results I found suggested the Systems Integrity Protection was the culprit, but I have not found any difference with it on or off. (I have it active at the moment.)

When I use the full path, I still get the error `No su

[2018-01-05 23:06] donmelton commented on #185
@Elucubrator My apologies again for taking so long to respond. Once the anesthesia wore off from my surgery, it was harder to deal with the pain than I thought. But I'm much better now. Pro tip: don't ever get sick. :)

OK, if you installed my `video_transcoding` Gem using `sudo` then that might be explain your problem. However, the output for that last diagnostic shows that the installed Gem has

[2018-01-07 17:38] donmelton commented on #185
@Elucubrator Were you able to resolve this issue yet?

And to repeat my last question, can you execute any other Gems you've installed?

[2018-01-08 00:54] andrewwickliffe commented on #185
Hi Don!

Guess what... I'm having something similar. That I just discovered because I haven't been using my High Sierra Mac(book air) for transcoding lately.

Error:
[code]
Here's all the above info you asked for (for the other person).

[code]

BUT then...
I discovered no video_transcoding on my installed gem list

[code]

[code]

So I did gem install video_transcoding
and got
[code]

I'm extreme

[2018-01-08 00:58] donmelton commented on #185
@andrewwickliffe So you can't even install the `video_transcoding` Gem?

Can you install any other Gems?

[2018-01-08 01:10] andrewwickliffe commented on #185
Nope :(

[2018-01-08 01:39] donmelton commented on #185
@andrewwickliffe OK, there is something really wrong with your Homebrew and Ruby installation. But I have no idea what it is. I suspect this may be related to the problem that @Elucubrator is having.

[2018-01-08 02:04] andrewwickliffe commented on #185
wah! i'm wondering if its cakebrew. I've been running it regularly to remind me to update...

[2018-01-08 02:14] andrewwickliffe commented on #185
(is this a ruby 2.5.0 thing I wonder)

[2018-01-08 02:26] donmelton commented on #185
@Elucubrator I doubt it's Ruby 2.5.0 because that works fine for me on Sierra. And since it's been out for almost a week I would have heard about that from other users on High Sierra. At least, I hope they would let me know.

I didn't know about Cakebrew but since it's just an app, I doubt it would cause this problem.

[2018-01-08 02:27] donmelton commented on #185
@andrewwickliffe Sorry, I sent that last comment to @Elucubrator instead of you.

[2018-01-08 02:29] donmelton commented on #185
@andrewwickliffe I just checked and it looks like you're using an old version of `gem`. Maybe that's the problem?

I have Ruby 2.5.0 and `gem --version` returns `2.7.4` for me. So you're significantly out of date there.

[2018-01-08 02:31] donmelton commented on #185
@andrewwickliffe BTW, did you remove your Homebrew installation and all of your Gems when you upgraded to High Sierra? If not, you should do that now and re-install everything.

Unfortunately, Homebrew isn't always stable after major macOS upgrades.

[2018-01-08 03:11] andrewwickliffe commented on #185
thanks don!

no... no I did not reinstall after the upgrade. I shall do that.

[2018-01-08 05:09] andrewwickliffe commented on #185
I had to manually update Rubygems (https://rubygems.org/pages/download) with sudo

and then reinstall video_transcoding

but I appear to be working now

[2018-01-08 05:24] donmelton commented on #185
@andrewwickliffe I'm glad it's working now but there should never be any reason to use `sudo` to update the Rubygems in your Homebrew installation. It's very possible what you did was update the Rubygems built into macOS itself. And I don't know what the implications of doing that are.

[2018-01-08 05:38] andrewwickliffe commented on #185
(Now very glad I keep this computer lean)

On Jan 7, 2018, 10:24 PM -0700, Don Melton <notifications@github.com>, wrote:

[2018-01-08 07:06] Elucubrator commented on #185
Well, I had a look at the files in my sytem, and then a bit more of a think about what the error message I'm receiving might mean.

One your questions Don made think of trying something different. When you asked if I could run any of the other gems, I thought, "Well, the `transcode-video --help` command works just fine, so that alone suggests things are installed and working. But why am I getting

[2018-01-08 07:11] donmelton commented on #185
@Elucubrator At least it's working! :)

Is there anything else I can help you with or should we close this now?

[2018-01-08 07:53] Elucubrator commented on #185
I think I'm good to go now Don. Thank you so very much for your help!

[2018-01-08 14:57] donmelton commented on #185
@Elucubrator You are very welcome!

[2018-01-08 14:57] #185 closed

[2018-01-11 02:17] hisaac opened #186 "Subtitles are squished vertically after cropping a video during transcoding"
When I transcode a video with subtitles, and there is vertical cropping done, the subtitles get squished vertically. Here's some screenshots to show what I mean:

### Before cropping

<img width="2032" alt="screen shot 2018-01-10 at 8 14 31 pm" src="https://user-images.githubusercontent.com/923876/34805325-179618d0-f643-11e7-9ed1-ca58901df756.png">

### After cropping

<img width="2032" alt="scree

[2018-01-11 03:50] donmelton commented on #186
@hisaac Sorry I took so long to respond. I was out at dinner.

Is this particular subtitle one that you burned into the video or a Blu-ray/DVD image-based subtitle that you added as a separate track?

[2018-01-11 03:52] hisaac commented on #186
No problem on the delay Don, You responded quicker than I expected. 👍

This is a Blu-Ray subtitle that I added as a separate track.

[2018-01-11 04:00] donmelton commented on #186
@hisaac OK, then the answer is simple and it's also why I tell users it's better not to add Blur-ray or DVD image-base subtitles to their videos.

So here's what's happening. You definitely cropped the video. But unfortunately, there's no way to crop the subtitle that you added. Which means it still has its original `1920 x 1080` pixel bounding box. So your media player (which I assume here is VLC

[2018-01-11 04:05] hisaac commented on #186
Ah, ok, that makes sense. I assumed the subtitles were text and not images. And I'm just now seeing the section in your readme where you talk about this. Sorry I didn't see it before reaching out.

Thanks for the help, and thanks for the great tools!

[2018-01-11 04:07] donmelton commented on #186
@hisaac You are very welcome, sir! I'm just sorry to be the bearer of bad news.

I'll close this now but feel free to open an issue when you have a question and it's too long for Twitter.

[2018-01-11 04:07] #186 closed

[2018-01-14 10:05] steveowashere opened #187 "How does VT handle HDR and 10bit content?"
Hello again!

I've gotten my hands on a few 4k blu-rays and I guess HDR and 10bit are the latest thing, I'm just wondering how video transcoding handles that? I don't have a 10bit or HDR display and I transcode my content to regular h.264. So am I missing out on anything by just transcoding to h.264? (i.e. the process from going to 10bit to 8bit )

I've noticed while watching processed 4K HDR 10bi

[2018-01-14 16:17] donmelton commented on #187
@steveowashere My `transcode-video` tool has been able to handle 4K input and output for some time. But even though, as you noticed, `x264_10bit` can be used as an encoder, it's not available in current builds of `HandBrakeCLI`, AFAIK. You would have to build a version yourself with that codec.

HDR output is not all that useful if you don't have an HDR-capable display. And can, as you noticed, so

[2018-01-14 19:45] steveowashere commented on #187
It's good to know 10bit is supported by your program at least. I just checked and the nightly builds of handbrakeCLI have the ability to use x264_10bit encoding. But they are nightly builds, so I don't think that's the best solution.

HDR on the other hand, I'm not sure how that is handled by handbrake at the moment and I can't seem to find it in their documentation. From what I've gathered there

[2018-01-14 20:35] donmelton commented on #187
@steveowashere Yeah, the whole HDR thing is a bit confusing now. Hopefully all that is needed is 10-bit transcoding and a little metadata.

But you should just come to terms now with the fact that you'll have to re-transcode your library at some time in the future. :) If not for HDR, then for HEVC so you can make it smaller.

This is why I just transcode everything using `--veryquick`. Why waste t

[2018-01-15 15:52] steveowashere commented on #187
Yea, that's a good way to handle it. As you said, sooner or later everything will need to be transcode again anyway... I store all my Blu-Ray as ISO images on my home server anyway, so re-ripping isn't a huge deal.  I'll do a few tests to see what works best with my Plex setup and take it from there. (I don't think Plex even fully supports HDR at this point to begin with.)

Anyway, thanks for indu

[2018-01-15 16:01] donmelton commented on #187
@steveowashere No worries and good luck! I'll close this now but feel free to open other issues or even comment here.

[2018-01-15 16:01] #187 closed

[2018-01-16 01:27] abeason opened #188 "Sync Issue with Avid DNxHD/DNxHR Codecs [Handbrake 1.0.7/video_transcoding 0.17.3]"
Hey Don,

Let me start by saying we're big fans of your script and use it extensively. Great work.

We've got a little problem we were hoping you could take a look at: we noticed recently that whenever we run Avid DNxHD or DNxHR codecs through your script we end up with a file that is about 1 frame out of sync.  Setting an explicit frame rate does not seem to correct the issue. The sync drift seem

[2018-01-16 01:38] donmelton commented on #188
@abeason Thanks for the heads up. I suspect this is a HandBrake problem since I'm not doing anything strange with frame rates. You can verify that by executing the output of:

[code]

... which will bypass my code entirely.

I would try that myself but both the links in your message are invalid. Thanks.

[2018-01-16 02:17] donmelton commented on #188
@abeason I'm back from dinner and downloading the files now (which are huge). I'll let you know what I find out.

[2018-01-16 02:51] donmelton commented on #188
@abeason OK, I'm not sure what I'm supposed to be looking at. I honestly don't know how to tell the "good" source from the "bad" transcoding. Can you be much more specific about the problem?

Also, examining the source video in the `.mov` file shows it with a non-standard frame rate of `23976/1000` or `2997/125`. This is not actually `23.976`. That would be `24000/1001`. This might be causing `Han

[2018-01-16 03:26] abeason commented on #188
@donmelton Users report that the sound and video are out of sync by about a frame by the 01:03:00:00 mark. I don't have the eye to see it honestly.

I followed your advice and ran dry-run to see the handbrake arguments being used, then passed them to handbrakeCLI to run my own pass with your commands. That file seemed fine to me but I'm going to have to put it in front of more discerning eyes to b

[2018-01-16 03:36] donmelton commented on #188
@abeason Sure, glad to humor a fellow video nerd! :)

I have no idea why HandBrake is doing that. Have the HandBrake developers responded to you in your bug report yet?

[2018-01-16 03:41] abeason commented on #188
@donmelton Not yet. I'll let you know if/when they do chime in. Thanks again!

[2018-01-16 03:42] donmelton commented on #188
@abeason OK, I'll close this for now but feel free to comment here again. Or even open a new issue.

[2018-01-16 03:42] #188 closed

[2018-01-16 18:14] abeason commented on #188
Hey Don, I rewrote our scripts today to try to include '-H --cfr' but it looks like '--cfr' is not a Handbrake argument video_transcoding allows to be passed to Handbrake. Is it possible to add the capability to set a constant frame rate in or will that break the rate limiting in your script?

Tell me if this is a stupid request or if you think I'm barking up the wrong tree looking at frame rate s

[2018-01-16 18:18] donmelton commented on #188
@abeason If you want to pass an argument to `HandBrakeCLI` you need to use its option without the leading `--` as the argument to `-H`. Like this: `-H cfr`.

But this is _completely_ unnecessary since using my `--force-rate` option will do the same thing and in a much safer way. You can verify that with the `--dry-run` option to see what it would pass to `HandBrakeCLI`.

[2018-01-16 18:29] abeason commented on #188
@donmelton I didn't think to use `--dry-run` with `--force-rate`. I see that you do include `--cfr` there. So I guess our problem lies elsewhere. I'll wait for the Handbrake crew to chime in.

Out of curiosity, does the `--force-rate` option have any impact on the efficiency of the overall rate limiting function of the script?

Thanks again for all your help!

[2018-01-16 20:21] donmelton commented on #188
@abeason Sorry I took so long to reply. I was out taking my wife shopping and getting lunch.

AFAIK, forcing or limiting to a specific frame rate does not impact efficiency. But forcing a constant frame rate when the output is to an MP4 file is not actually necessary since the MP4 format will not allow a variable frame rate for video anyway.

[2018-01-19 18:49] eltito51 opened #189 "Transconde-video on windows failing to run intermittently"
Don - Sam, as per our exchange on Tweet I am loading the .log files of my transcoding session this morning on Windows10 (Latest version). Basically Transcode work with some files and halt or refuse to run with others. Those are the same exactly files I have successfully process under the same machine with "Linux Mint". Originally I have the following message:

**"/local/bin/transcode-video:transco

[2018-01-19 18:50] eltito51 commented on #189
Just a correction "Labyrinth 1986" Halt @ 80+%

[2018-01-19 18:52] donmelton commented on #189
@eltito51 Thanks for filing this, my friend! I'll let @samhutchins take lead on it since I'm still sick.

[2018-01-19 18:53] eltito51 commented on #189
No Problems Don, Anything that I can do to make Transcode better is a pleasure. Hopefully I was detailed enough.

Cheers

[2018-01-19 19:20] samhutchins commented on #189
I'm not sure if you're having exactly the same problem that I had or not...

The error I sometimes get is `/usr/local/bin/transcode-video: transcoding failed: Input/output error @ io_write - <STDOUT>`, and I get it on "Alien³". Notice the superscript 3 there, I think that's what screws it up. If that's in either the filename or any of the metadata I get the failure, but if I remux to remove the "M

[2018-01-19 19:53] eltito51 commented on #189
let me work on that

[2018-01-19 20:08] eltito51 commented on #189
Unique ID : | 260876923903018532081068155359239996256 (0xC4431165766874E82F2EAE932E2E0360)
-- | --
Complete name : | D:\Movies_Downloads\The Girl On The Train 2016.mkv
Format : | Matroska
Format version : | Version 2
File size : | 28.0 GiB
Duration : | 1 h 52 min
Overall bit rate mode : | Variable
Overall bit rate : | 35.8 Mb/s
Movie name : | The Girl on the Train
Encoded date : | UTC 2017-12-27 2

[2018-01-19 21:40] samhutchins commented on #189
Is that the full output?

I don't see any weird characters, so it looks like my hunch may be wrong. I'll keep digging

[2018-01-20 02:36] klogg416 commented on #189
Sam, I was getting the exact error you describe, only my cause was
Japanese characters in one of the audio track titles. The job would fail
out as it scanned the source file before transcoding started. Took me a
while to discover it was related to the unknown characters, ultimately I
ran it on a Linux/unRAID server and noticed the characters in the audio
track name where I normally saw that error.

[2018-01-20 03:01] klogg416 commented on #189
Came to the computer to provide more detail. One of the things that struck me as really odd is that the Japanese characters weren't visible in MKVtoolnix or mediainfo, however the audio tracks were coded as Japanese, so it seems that perhaps Handbrake fills in the characters based on the language encoding?

The thinking is I wonder if @eltito51 has other language tracks and maybe a surprise umlaut

[2018-01-20 10:32] samhutchins commented on #189
@klogg416 I think the best solution for now is to either configure MakeMKV to only rip the audio tracks you want, or to remux with mkvtoolnix to remove everything you don’t want.

[2018-01-20 16:44] eltito51 commented on #189
Guys, I will keep digging on this on my side. Something that is really weird is that those same movies transcode without any issues under linux mint.

[2018-01-20 21:45] donmelton commented on #189
@eltito51 @samhutchins and @klogg416 My apologies for being AFK for so long. I'm feeling a little better today.

And my thanks, as always, to Sam for picking up the slack!

Reviewing the data so far, it's still unclear whether the problem is in El tito's Windows configuration, HandBrake's handling of his particular movies on Windows (and whether that's metadata-related), or some Windows-specific b

[2018-01-20 23:02] samhutchins commented on #189
I've installed `video_transcoding` 'natively', which is to say without using the Bash on Ubuntu on Windows feature that was introduced in Windows 10. With that installation I don't have this problem, so I suspect the issue is unique to the Linux Subsystem for Windows. @eltito51, if you're interested in pursuing a 'native' installation you can see instructions on how to do so [here](https://github.

[2018-01-20 23:49] eltito51 commented on #189
Guys, I will keep digging on this on my side. Something that is really weird is that those same movies transcode without any issues under linux mint.

[2018-01-20 23:52] eltito51 commented on #189
Sam:

The fact that some files transcode and some other fail make me agree with you that the issue should be with the Bash on Ubuntu on Windows. I will pursue the native installation as you suggest

[2018-01-22 00:55] necktwi commented on #160
@k06a what is the option `-an`? I want to use default `crf` and default `preset`;
`ffmpeg -i input.mov -c:v libx265 -c:a aac -an video.mp4`
does this work?

[2018-01-22 02:21] donmelton commented on #160
@necktwi The `-an` option for `ffmpeg` disables audio output so I don't think you want to use that.

[2018-01-22 03:12] hilldw11 commented on #189
[code]

I think I am having a similar problem for one of my movies. For some reason I ripped it with additional audio tracks. It looks like the process is hanging up on the 4th audio steam, which is Spanish. Is there a way to remove that audio track or do I just need to re-rip? thanks.

[2018-01-22 03:17] donmelton commented on #189
@hilldw11 Weird. It appears `HandBrakeCLI` is hanging during the scan.

There's no need to re-rip the video. You can remux it instead using `mkvmerge`.

If you give me the console output of `mkvmerge -i video.mkv`, I can write the more complicated `mkvmerge` command to exclude the Spanish language track for you.

[2018-01-22 03:21] hilldw11 commented on #189
`File 'Videos/American_Sniper.mkv': container: Matroska
Track ID 0: video (MPEG-4p10/AVC/h.264)
Track ID 1: audio (AC-3/E-AC-3)
Track ID 2: audio (AC-3/E-AC-3)
Track ID 3: audio (AC-3/E-AC-3)
Track ID 4: audio (AC-3/E-AC-3)
Track ID 5: subtitles (HDMV PGS)
Track ID 6: subtitles (HDMV PGS)
Track ID 7: subtitles (HDMV PGS)
Chapters: 13 entries`

Hopefully this is correct.... thank you

[2018-01-22 03:39] donmelton commented on #189
@hilldw11 I also need to know which of those audio tracks is the Spanish one. I'm assuming that's the last audio track? That is, track ID 4?

[2018-01-22 03:49] donmelton commented on #189
@hilldw11 OK, to leave off the last track then do something like this:

[code]

To just select the English track then do something like this:

[code]

[2018-01-22 04:18] hilldw11 commented on #189
@donmelton Thank you, its working now. I appreciate it.

perhaps i need to create a separate thread but just a quick question. How do you ensure that `detect-crop` comes out with the right values? Two different movies I was going to transcode today gave me odd advice, one was 134:130:0:0 and the other 22:22:4:2.  Shouldn't they be symmetrical like this one is, 140:140:0:0 ? thanks again

[2018-01-22 04:27] donmelton commented on #189
@hilldw11 No problem. That's why I'm almost always online. :) I'm glad it's working.

As to your question about `detect-crop`. I can't ever ensure that it will produce the correct values because both `HandBrakeCLI` and `ffmpeg` fail sometimes at automatic crop detection. They're only right about 90-95% of the time. And while they're the best tools for the job, their analysis is still not good enou

[2018-01-22 15:10] eltito51 commented on #189
Sam, The native installation work as a Charm. I have a comment regarding your Instruction:
**"From the HandBrake zip file extract HandBrakeCLI.exe and the fonts\ directory to C:\bin"**
The Hanbrake CLI Zip file doesn't containt any "\Fonts Folder" just the executable file alone. DO WE REALLY NEED THAT FOLDER? SO FAR TRANSCODE SEEN TO WORK WITHOUT ANY ISSUES.

On the other side it look like the nat

[2018-01-22 16:03] samhutchins commented on #189
@eltito51 No, that Fonts folder is no longer required. I'll update the instructions this week

[2018-01-22 16:31] eltito51 commented on #189
Sam, The native installation work as a Charm. I have a comment regarding your Instruction:
**"From the HandBrake zip file extract HandBrakeCLI.exe and the fonts\ directory to C:\bin"**
The Hanbrake CLI Zip file doesn't containt any "\Fonts Folder" just the executable file alone. DO WE REALLY NEED THAT FOLDER? SO FAR TRANSCODE SEEN TO WORK WITHOUT ANY ISSUES.

On the other side it look like the nat

[2018-01-22 16:34] eltito51 commented on #189
@donmelton  The other movies are transcoding perfectly. I am closing the ticket.
@samhutchins Thanks everyone to help with this issue.

[2018-01-23 13:12] necktwi commented on #160
@k06a I get **Unable to initialize the encoder: SBR library initialization error**
[code]

[2018-01-23 13:15] k06a commented on #160
@necktwi try `aac_he` profile instead of `aac_he_v2`, looks like `aac_he_v2` is for stereo only, but you have mono audio (one of 5.1 maybe?)

[2018-01-23 13:17] k06a commented on #160
Latest version here: https://gist.github.com/k06a/45f4ff4e52a7c0ad2add370ab1a315e7

[2018-01-23 14:46] necktwi commented on #160
@k06a, using `aac_he` in the above gave a time-scaled video! Actual clip is of 5 min but the output is 15 min.
![screen shot 2018-01-23 at 8 11 15 pm](https://user-images.githubusercontent.com/2793912/35281876-02cc41a4-007a-11e8-9770-57e27e49c570.png)

[2018-01-23 15:05] k06a commented on #160
@necktwi you can try to keep original audio by removing `-an` option on video convertion. At least until we discover how make aach_he work as expected.

[2018-01-23 15:15] necktwi commented on #160
Please find the video I am trying to convert at https://github.com/necktwi/toHEVC/blob/master/ARCut.mp4

[2018-01-23 18:00] necktwi commented on #160
if i remove `-an` i get `Too many packets buffered for output stream 0:1.`

[2018-01-23 18:49] ntodd commented on #160
@necktwi Your source file is causing ffmpeg to run out of buffer space while waiting to write the output. I was able to get your file converted (with some warnings) by adding `-max_muxing_queue_size 500` to the ffmpeg options.

However, this doesn't appear related to the original HEVC playback issue above or the video_transcoding package, so you might be able to get the best help regarding your so

[2018-01-23 19:10] donmelton commented on #160
@ntodd I don't normally recommend unreleased versions (particularly of HandBrake) but why don't you let me know which versions those are and I'll see how I can explain that.

[2018-01-24 06:52] djsecrist opened #190 "track specification for burned-in subtitles"
How should I be specifying the command to burn in the English subtitles for transcoding the following?  I have tried several different things and none of them have resulted in an mp4 with the English subtitles burned-in.

General
Unique ID                                : 231262747574409604396682094247823836076 (0xADFB95C653C05A07A21EC4461A1083AC)
Complete name                            : /home/d

[2018-01-24 17:09] donmelton commented on #190
@djsecrist Sorry I took so long to respond.

Your English subtitles are the second track so adding `--burn-subtitle 2` to your command line take care of that. Have you tried that already?

Keep in mind that this track only contains the forced subtitles. You can tell because MediaInfo is reporting `Count of elements : 26`. That means there are only 26 subtitles in that track. And most of those are

[2018-01-24 17:16] djsecrist commented on #190
Thanks for the reply, Don.  I'm pretty sure that "--burn-subtitle 2" was the first thing I tried, but I will try it again right now.  I'm trying to eliminate all chance of Plex needing to transcode on the server side.  So, I think burn is the option I want instead of force.  Not all of the Plex clients can utilize the embedded subs, and it's just easier on both the server and my family to not have

[2018-01-24 17:20] donmelton commented on #190
@djsecrist Well, maybe it was a Scottish/Russian accent then. :)

If the `--burn-subtitle 2` option and argument fails, send me your `.log` file and I'll examine it for clues. But good luck and let me know!

[2018-01-24 17:22] djsecrist commented on #190
I get an error in the log about adding an unknown subtitle type.
add_ffmpeg_subtitle: unknown subtitle stream type: 0x53526970

Here is the full output before the encode:
[code]

[2018-01-24 17:29] donmelton commented on #190
@djsecrist Ugh. HandBrake used to handle SubRip-format subtitles itself before handing them off to LibAV (FFmpeg). Are you using a nightly build? This shouldn't be a problem with the release version of HandBrake.

Anyway, you'll have to extract the subtitle, convert it to ASS (Advanced SubStation Alpha) format, remux the file, and then attempt transcoding it again.

Here's a Web page which explain

[2018-01-24 17:54] djsecrist commented on #190
I'll check which version I'm using.  Regardless, I think your guidance has put me on the right track.  Thank you, and thanks for such a great tool!

In a related question, do you know of an easy way to identify all of the media files where I might have this same issue?  Also, I know that I have some files where the subtitles are not properly tagged as forced (like this example) or the wrong subtit

[2018-01-24 18:02] donmelton commented on #190
@djsecrist You are very welcome! Thanks for using it, sir!

As for identifying all your problematic media files, you'll have to write a script to do that. Sorry, there's not easy way around that. I have to do this same kind of thing myself all the time.

You'll probably have to use `mediainfo` or `ffprobe` (which is part of the FFmpeg suite of tools). The `ffprobe` tool is faster and its output ea

[2018-01-24 18:10] djsecrist commented on #190
Yes.  It can be closed.  Unless...  You want to change it into a feature request to automate the handling of these problematic subtitles...  :)

By the way, I am using "HandBrake 0.10.2 (2016021200) - Linux x86_64".  Thanks again!

[2018-01-24 18:14] donmelton commented on #190
@djsecrist Hmmmm, that version string seems peculiar. That date should read `(2015060900)` for HandBrake 0.10.2. Maybe it's just a Linux-specific build/distribution issue?

Anyway, closing this now but feel free to keep commenting here or opening other issues.

[2018-01-24 18:14] #190 closed

[2018-01-24 21:36] djsecrist commented on #190
I updated my HandBrake version and it worked without having to extract to ASS or do anything special.  I'm now on HandBrake 1.0.4.  Thanks again!

[2018-01-24 22:22] donmelton commented on #190
@djsecrist Excellent!

[2018-01-27 08:08] metabaron commented on #161
Hello,

Have you found a solution to that problem? I might be able to help but it would require a bit more information such as how you transcode from satellite to a feed

[2018-01-27 16:41] donmelton commented on #26
@ylor @terveer @dorgan OK, I'm re-opening this now because I've implemented Dolby Digital Plus (aka Enhanced AC-3) support in both `transcode-video` and `convert-video` and plan to release that sometime in the next few days.

However, keep in mind that Enhanced AC-3 output is still limited to 5.1 audio channels in both HandBrake and FFmpeg.

And while I will allow E-AC-3 bitrates of 768 and even 1

[2018-01-28 04:41] donmelton commented on #26
@ylor @terveer @dorgan BTW, Dolby Digital Plus output is currently NOT COMPATIBLE with the MP4 file format when using `transcode-video` due to a limitation in `HandBrakeCLI`. This means that adding both `--mp4` and `--ac3-encoder eac3` to your command line will fail with the error "`incompatible encoder 'eac3' for muxer 'av_mp4'`."

Oddly enough, `ffmpeg` doesn't have this limitation so you'll be

[2018-01-28 04:54] livetvcanada commented on #161
Hi,

Thank you. No we have not. What kinda information do you need?

On Saturday, January 27, 2018, Mathieu Feulvarch <notifications@github.com>
wrote:

[2018-01-28 04:54] donmelton commented on #26
@ylor @terveer @dorgan OK, I've released version `0.19.0` with this feature. Just `gem update video_transcoding` to get it. Thanks for all your feedback!

[2018-01-28 04:54] #26 closed

[2018-01-29 02:31] metabaron commented on #161
In order to help, the idea is to understand how you move from a satellite feed to some more "regular" feed we could work with (and when I mean we I'm not talking you and me :) ).
So: how do you acquire your satellite feed so far?

What you are trying to do here is first getting the satellite feed to something we can later encode to Web format (basically you are trying to do an OTT service based on

[2018-01-29 03:30] livetvcanada commented on #161
Hello Mathieu,

Thank you. I have attached the document for more information. We are trying
to work with our partner, Sony Movie Channel to get satellite broadcast
signal onto web format. We do not have any satellite. We are working with a
media partner to stream their TV content [which is broadcasted via
satellite] onto our web platform.

Regards

On Sun, Jan 28, 2018 at 9:31 PM, Mathieu Feulvarc

[2018-01-29 03:38] metabaron commented on #161
I see. So the first thing you will need it to acquire the satellite stream (PS: that is what we do here at work - working for an ISP in Asia, taking care of the TV service).
I can imagine that you are doing it for a professional service right? Is $$ very sensitive or you guys can invest on proper hardware?

[2018-01-29 03:43] metabaron commented on #161
Simple and easy for Linux with $$ being a problem, I would go: https://www.videolan.org/vlc/streaming.html

[2018-01-29 03:46] livetvcanada commented on #161
Thank you. To answer your question,

Q: Is $$ very sensitive or you guys can invest on proper hardware?
Answer: At this point, we don't intend to invest on proper hardware.

Thank you for the link. Would the link enable us to convert the satellite
broadcast to Web format [HLS]?

On Sun, Jan 28, 2018 at 10:38 PM, Mathieu Feulvarch <
notifications@github.com> wrote:

[2018-01-29 04:06] metabaron commented on #161
In case you were to invest properly: https://www.ateme.com/ would be my suggestion.

Lazy version (to test): https://wiki.videolan.org/Documentation:Streaming_HowTo/Streaming_for_the_iPhone/ which should work with a bit of adaptation
That should work in your case without too much adaptation but that would not be ideal.

After, in term of "to the core", I would go with something around http://www.b

[2018-01-29 11:35] damorrison opened #191 "Advice on re-transcoding library to reduce storage space"
Hi Don,

I'd like to reduce the amount of storage space that my library uses, and would like some general advice on how you would go about this.

I have two main libraries, one for items I've transcoded using your tools from blu-ray (both TV and Movies), and another library that consists of TV show and movies that I've collected over the years from various sources using different codecs and contai

[2018-01-29 13:29] samhutchins commented on #191
Using `x265` with these tools won't necessarily reduce the space they take up. The default ratecontrol is configured to get the best possible quality approximately within bitrate constraints. If you use the default settings both the `x265` output and `x264` output will be roughly the same size because they both have a bitrate of around 6000kbs; but in theory the `x265` encode will be higher qualit

[2018-01-29 15:54] donmelton commented on #191
@damorrison These are all good questions. And that's good advice from @samhutchins, too.

First, a question of my own. Do you plan to retain these Blu-ray rips after you transcode them or do you intend to delete them to save more space?

It's best to retain your original Blu-ray rips. Storage is cheap these days and transcoding should be used to make smaller and more portable versions (they are no

[2018-01-29 17:57] damorrison commented on #191
Thanks for the info so far.

Sam. I'm an audio snob so if there's a 5.1 track I'd prefer to keep it, but
I probably have some media with two audio tracks.

I'll look into the other options too, and perhaps I need a two tiered
approach to re-transcoding everything, some that I don't care enough about
to keep at HD, and the stuff that I probably won't watch much of again that
could be saved at 720.

[2018-01-29 19:30] hughker commented on #191
@damorrison FWIW I store all my originals in Backblaze B2 — as I rarely need to DL them to re-rip, that way at least they're up there just waiting if I do.

[2018-01-29 20:24] damorrison commented on #191
@hughker sadly, with rural UK broadband and an upload speed of 1.5 Mbps, that's not viable for me.

[2018-01-29 20:29] donmelton commented on #191
@damorrison I also keep all my videos on NAS devices. :) Two are Synology and one is QNAP. I keep the original rips on the big 32 TB Synology and the transcodings on the little 8 TB Synology because I carry that one back and forth between houses. That NAS also runs Plex.

But I realize not everyone can spend that much money on NAS devices. I have to since I'm constantly re-transcoding my entire li

[2018-01-29 20:33] donmelton commented on #191
@hughker I hadn't thought of using Backblaze B2 for my originals. What an interesting idea. How much are you storing up there and what kind of bandwidth do you get pulling them back down?

[2018-01-29 20:43] damorrison commented on #191
@donmelton thanks.. not confused (yet), so thanks for the reply.

I'm going to have a few tries with this overnight and see where it gets me.

`--target small --abr --audio-width main=surround --handbrake-option encoder=x265 --mp4`

[2018-01-29 21:00] donmelton commented on #191
@damorrison BTW, I just remembered that you _could_ get a bit of size reduction on your audio if you use Dolby Digital Plus, i.e. E-AC-3, instead of just plain Dolby Digital. E-AC-3 should be able to deliver similar quality at 448 Kbps compared to 640 Kbps plain old AC-3.

However, HandBrake has a current limitation where it won't encode E-AC-3 to an MP4 container. So you would have to use the def

[2018-01-29 21:28] damorrison commented on #191
@donmelton I was looking over the weekend to see what eac-3 does in my current Sonos Soundbar setup, as I don't think it supports it (Sonos support for surround sound is pretty appalling considering it's price). I think I'm stuck with ac-3 Dolby Digital. If I went the eac-3 route, I'd be relying on my Plex server on the Synology (DS415+) transcoding the audio on the fly I think which I'd have to t

[2018-01-29 21:32] donmelton commented on #191
@damorrison Yes, you definitely don't want to dynamically re-transcode your audio. It's likely your Plex server could still keep up (since audio transcoding is fast), but you would probably notice the lower quality. After all, that would be two lossy transcodes in a row.

[2018-01-29 22:04] donmelton commented on #191
@damorrison BTW, if you're interested in these things, I just completed a re-transcoding of 659 Blu-ray rips of movies and TV shows using the equivalent of the following settings:

[code]

And they look great!

But I say "equivalent" because I used `ffmpeg` instead of `HandBrakeCLI` via a prototype script that I'll likely release in a few months.

All those videos take only 3 TBs of storage, easil

[2018-01-29 22:48] damorrison commented on #191
@donmelton I'll give that a try tomorrow. Currently transcoding a few in x265 at 6.76 fps.. /yawn

[2018-01-29 23:31] donmelton commented on #191
@damorrison I'm impressed that your CPU is powerful enough to transcode with x265 that fast. :)

BTW, my next round of transcodings is likely to be using the equivalent of these options:

[code]

But, as I'm sure you've guessed, I'm insane and always re-transcoding my library. :)

[2018-01-30 10:21] damorrison commented on #191
@donmelton My PC chomped through 4 hour long episodes last night using the x265 codec with the following settings, and saved around 400-450 Mb per episode, which when applied across the library will be a significant saving (around 1.8 TB).

`--target small --abr --audio-width main=surround --handbrake-option encoder=x265 --mp4`

PS: I got an average of 7.5 fps transcoding to x265 over the network.

[2018-01-30 10:31] samhutchins commented on #191
If I'm understanding correctly,`eac3` won't work with `--mp4`. You can specify a directory to output to with `-o`, so you could do something like:

`transcode-video --target small --abr --quick --prefer-ac3 --ac3-encoder eac3 *.mkv -o output_dir/`

And I suspect just using eac3 won't change the bitrate of the audio, similarly to `x264` vs `x265` you'd need to explicitly reduce the bitrate for the

[2018-01-30 10:54] damorrison commented on #191
@samhutchins You could be right, the first one just finished and it looks like it's just passed the original ac-3 straight through. The output file was still 22% smaller though.

The audio bitrate of the one I just converted was at 384 kbps already it seems.

Does eac-3 have more efficient compression that ac-3, or is it just that it can carry more channels?

[2018-01-30 11:13] samhutchins commented on #191
It's a more efficient codec, yeah. You should be able to get the same quality at lower bitrates with it. In theory it can also support more channels, but the implementation in HandBrake doesn't support that so it's still limited to 5.1.

I'd be curious to hear what Don thinks, but I doubt trying to transcode the audio is worth it if your source material is AC3 or AAC. These options are probably mo

[2018-01-30 16:13] donmelton commented on #191
@samhutchins You are right on all accounts. And I agree with your recommendations.

@damorrison My advice is the same as Sam's, I would avoid E-AC-3 with your setup. I'm rethinking that for mine as well.

[2018-01-30 20:06] damorrison commented on #191
OK, last test completed and the same 20-22% savings on all those files, so pretty much the same as the x265, but a lot quicker.

I think I'll try something along the lines of the following next and see how that compares.

`transcode-video --target small --mp4 --abr --quick --prefer-ac3  --audio-width all=surround --prefer-ac3 --ac3-bitrate 448 --pass-ac3-bitrate 448 -o converted\ *.mp4`

[2018-01-30 20:10] damorrison commented on #191
Is there a 'traverse sub-directories' option?

[2018-01-30 21:27] samhutchins commented on #191
AFAIK there's no way to recursively transcode with this tool directly

However!

I'm gonna guess from the backslash there that you're using Windows, and I assume you're using CMD, not Bash. I wrote a batch script you could try, details here: https://github.com/JMoVS/installing_video_transcoding_on_windows#batch-control-in-cmdexe

It takes a little bit of set up, but it gives you a fair bit of cont

[2018-01-30 21:38] damorrison commented on #191
Hi @samhutchins I'm on Windows here, but also have it set up on a Mac so could do either. ASFAIK, my Windows PC has more grunt than my Macbook Pro so I tend to use this one.

I'll try that script and see how I get on,

[2018-01-31 16:24] damorrison commented on #191
Hi, I'm obviously not understanding something related to the audio bit-rates, as they are being increased rather than passed through if they are below a certain bit-rate.

What I'm trying to do, is re-encode anything above 384 kbps to e-ac3, and pass through anything that falls below this. The logic being that if it's lower than 384, it's likely to be not great audio in the first place, and won't

[2018-01-31 16:27] donmelton commented on #191
@damorrison It's being converted to E-AC-3 format because you have `--prefer-ac3` on your command line. Basically that forces all audio into E-AC-3/AC-3 format.

[2018-02-01 18:23] osuritz opened #192 "UTF parsing of subtitle (SRT) files"
Here's the command line I used to encode a movie:
`transcode-video --mp4 --crop 0:0:52:52  --add-audio fra --audio-width other=double --add-srt Movie.eng.srt --add-srt Movie.fre.srt ~/Movies/Movie.mkv`

However when watching the file in QuickTime (and MPlayer), the French subtitles (in particular the accents) are showing garbled characters. However, if I open the MP4 in Subler, remove the French s

[2018-02-01 19:03] donmelton commented on #192
@osuritz Sorry I took so long to respond. I was out walking the dog. :)

I think if you add `--bind-srt-encoding utf8` after `--add-srt Movie.fre.srt` then it should recognize all the characters because the default encoding in `HandBrakeCLI` is `latin1`.

[2018-02-02 09:16] damorrison commented on #191
FWIW - I think I'm settling down on the following for my non-BluRay TV shows.

`transcode-video --target small --abr --handbrake-option encoder=x265 --audio-width all=surround --ac3-bitrate 384 --pass-ac3-bitrate 384 -o x265\`

I tried playing with eac-3, but was getting big pauses in playback from my Plex (CPU on the Synology seemed to spike horribly so my assumption is that it was having to tran

[2018-02-02 16:19] donmelton commented on #191
@damorrison Those seem like a good set of options. Go for it!

[2018-02-03 01:07] dorgan opened #193 "Invalid byte sequence in US-ASCII"
`--crop detect` and detect-crop tool failing with error `Invalid byte sequence in US-ASCII`

[2018-02-03 02:05] donmelton commented on #193
@dorgan OK, I'm back from dinner. :)

Thanks for filing this! Can you add more information about the problem media file? Like results from `--scan` or output from MediaInfo? Also, does this happen with every media file or only one?

Also, which version of `ffmpeg` are you using?

[2018-02-03 03:51] dorgan commented on #193
output from `detect-crop --scan` is:

`+ title 1:
  + stream: shrek.mkv
  + duration: 01:30:08
  + size: 1920x1080, pixel aspect: 1/1, display aspect: 1.78, 23.976 fps
  + chapters:
    + 1: cells 0->0, 0 blocks, duration 00:04:59
    + 2: cells 0->0, 0 blocks, duration 00:06:46
    + 3: cells 0->0, 0 blocks, duration 00:04:16
    + 4: cells 0->0, 0 blocks, duration 00:04:13
    + 5: cells 0->0, 0

[2018-02-03 03:53] dorgan commented on #193
well know i know the issue.  Apparently it doesnt like the russian subtitles...

[2018-02-03 03:54] donmelton commented on #193
@dorgan Maybe it's not the language but the SSA/ASS format?

[2018-02-03 16:03] donmelton commented on #193
@dorgan So, did you resolve this yourself?

[2018-02-03 20:22] dorgan commented on #193
I resolved it by deleting it...

[2018-02-03 21:21] donmelton commented on #193
@dorgan That works! :) OK, I'll close this issue then.

[2018-02-03 21:21] #193 closed

[2018-02-04 04:23] donmelton commented on #192
@osuritz Did my suggestion work for you?

[2018-02-04 05:39] osuritz commented on #192
Yup that worked. Thanks! :)

On Sat, Feb 3, 2018 at 8:23 PM, Don Melton <notifications@github.com> wrote:

[2018-02-04 05:41] donmelton commented on #192
@osuritz No problem. I'm glad it worked. I'll close this then.

[2018-02-04 05:41] #192 closed

[2018-02-05 22:14] itendtostare opened #194 "I get this error when transcoding"
Hi,

I'm currently working on transcoding my whole plex library from mkv to mp3, and stumbled on this beautiful jewel. Thanks for the hard work :) I m not super proficient with bash, here is the paste bin of the error, I trialed 2 files before this and all went smooth, but this happened :
[Transcode error.pdf](https://github.com/donmelton/video_transcoding/files/1696977/Transcode.error.pdf)

[2018-02-05 22:18] itendtostare commented on #194
command line used : transcode-video --mp4 --abr --quick "$1" ( shell script because I m running it from Hazel, as I want to automate the process in the future )

Also now that I m here, a slightly cheeky question, how do I make it so that the final file is saved into the exact same folder as the original file with Hazel? Cause at the moment it either ends up in usr/local or in the overarching fold

[2018-02-05 22:20] donmelton commented on #194
@itendtostare Can you please attach that `.log` file here as text? You attached a PDF it's unfortunately  impossible to read that way.

[2018-02-05 22:21] donmelton commented on #194
@itendtostare Also, can you just paste in the final error message that you're seeing here? That would save me a lot of time on diagnosing the problem. Thanks.

[2018-02-05 22:50] donmelton commented on #194
@itendtostare Thanks! That's much easier to read now.

Unfortunately, this looks like some internal `HandBrakeCLI` error which I've never seen. Which is surprising because I've seen _a lot_ of them. Normally the muxer doesn't fail unless you run out of disk space.

Into which directory was this being transcoded?

BTW, by default `transcode-video` produces output in your current working directory.

[2018-02-05 23:50] itendtostare commented on #194
hei so...my video files are kept into a wireless external drive (4TB space) of which more than half is free now as I'm rebuilding it. I ran the command on my Mac through Hazel as I m currently testing it before using it on the whole external drive. Not sure if it uses my laptops space as well while transcoding. I ll try and run it again. And yes other episodes transcoded beautifully from terminal

[2018-02-05 23:55] donmelton commented on #194
@itendtostare Yes, I suspect this is a problem with Hazel. Or your script. Or both. Here's what you need to do:

Run `transcode-video` on the same movie without using Hazel or your shell script. That way we take all those variables out of the way and simplify the problem domain.

Otherwise I don't think I can solve this for you. Sorry.

[2018-02-06 01:02] itendtostare commented on #194
@donmelton as per your indication I tried again, and I m pretty sure the issue lies in the fact that my external HD lost connection while transcoding. Will have to transcode while having it wired to the laptop.

[2018-02-06 01:11] donmelton commented on #194
@itendtostare Aha! OK, I suspect that's it. If you can confirm then we can close this issue.

[2018-02-06 01:12] itendtostare commented on #194
yep all confirmed - thank you again, easier than I thought 👍

[2018-02-06 01:12] #194 closed

[2018-02-06 01:15] donmelton commented on #194
@itendtostare No worries! Thanks for using `transcode-video` and providing feedback!

[2018-02-06 05:50] donmelton commented on #191
@damorrison Would you consider this resolved now? If so, I'll close the issue.

[2018-02-06 09:20] damorrison commented on #191
Morning Don,

Yes I think so, and thanks to both to you and Sam for coming up with some
good suggestions. I've learned a lot :)

Dave.

On 6 February 2018 at 05:50, Don Melton <notifications@github.com> wrote:

--
Kind regards,
Dave

[2018-02-06 14:36] #191 closed

[2018-02-06 15:44] donmelton commented on #191
@damorrison Our pleasure! And thanks so much for using the tools.

[2018-02-12 03:24] hughker commented on #191
@donmelton I'm storing several TBs overall up there, I'm not sure how many are just my original rips, sorry. However, the DL speeds are pretty awesome if you have Gigabit at home :] — but otherwise, they're really not too bad. I rarely need stuff from it, so it's truly my "cold storage" for basically everything now.

[2018-02-12 03:28] donmelton commented on #191
@hughker OK, I _am_ gonna have to try it then. :)

[2018-02-13 02:56] ProxyCell opened #195 "transcoding failed on a 640x480 video"
I'm not able to even transcode one video that I have in a large group. It does transcode in the HandBrake GUI, CLI and also with ffmpeg but not under the very straight forward usage of transcode-video.

transcode-video input.avi

EDIT: I just wanted to add that its a little strange that its failing on this one when it works on everything else. The only significant difference is that this video is

[2018-02-13 03:05] donmelton commented on #195
@ProxyCell Thanks for including your `.log` file output! I reformatted to be a little more readable.

OK, when you say "a large group," do you mean several other `.avi` files in the same folder or on the same drive? Do any of your other files work with `transcode-video`?

The only time you should ever get this generic sounding "`transcoding failed`" error message is for a serious system call failu

[2018-02-13 03:09] ProxyCell commented on #195
It is part of a group of 95 videos - 94 transcoded perfectly fine but I noticed this one didn't come through and ran it again and found this error

The rest are all h264/aac/720 while this one is xvid/mp3/480

The drive and folder permissions should be fine. The others were transcoded in the same directory and I have gone on to transcode other files since that batch.

[2018-02-13 03:18] donmelton commented on #195
@ProxyCell Thanks for the quick response!

OK, the error indicates a catastrophic failure propagated by `HandBrakeCLI`. In fact, the failure appears to be _so_ bad that `HandBrakeCLI` couldn't even print an error message to the console. :)

So, I need you to invoke `HandBrakeCLI`directly with exactly the same parameters that `transcode-video` would be passing to it. Fortunately, that's incredibly

[2018-02-13 03:22] ProxyCell commented on #195
Alright! Thats an awesome feature by the way.

`HandBrakeCLI --input=input.avi --output=input.mkv --markers --encoder=x264 --crop=0:0:0:0 --auto-anamorphic --deinterlace --rate=30 --pfr --encoder-preset=medium --encoder-profile=high --encoder-level=3.0 --quality=1 --audio=1 --aencoder=ca_aac --encopts=vbv-maxrate=1500:vbv-bufsize=3000:crf-max=25:qpmax=34`

[code]

[2018-02-13 03:29] donmelton commented on #195
@ProxyCell This case is exactly why I included that feature. :)

OK, now we know it's `HandBrakeCLI` dying a horrible death and not `transcode-video`. However, that doesn't excuse my code yet.

Here's what you need to try next, but be warned that it's very tedious. :) This is your command, right?

[code]

So just start removing options and arguments, one at time, and see if it suddenly starts work

[2018-02-13 03:35] ProxyCell commented on #195
Alright - I ran through them and its `--deinterlace`

I can upload this easily, its just a 2008 episode of a Japanese variety show. Its 722mb but the quality is horrendous. So I am surprised that it detects interlaced frames as I'm sure its already deinteraced. Let me know if you would like this thrown up somewhere for you to download.

[2018-02-13 03:40] ProxyCell commented on #195
Additional:
I'm going to run it with this new line now. I just reduced it to the plain command arguments earlier to try and eliminate any possible issues.

`transcode-video --dry-run --mp4 --veryquick --burn-srt "subtitle.srt" input.avi`

`HandBrakeCLI --input=input.avi --output=input.mp4 --markers --encoder=x264 --crop=0:0:0:0 --auto-anamorphic --deinterlace --rate=30 --pfr --encoder-preset=mediu

[2018-02-13 03:47] donmelton commented on #195
@ProxyCell It's not `HandBrakeCLI` that thinks your video is interlaced. My code automatically applies that filter if the input frame rate is `29.97` and the video is not MPEG-2 format.

Try this to work around the problem:

[code]

Be sure to use the `_` (underscore) there. That should remove the `--deinterlace` option from the command line sent to `HandBrakeCLI`.

Thanks for offering to upload t

[2018-02-13 03:57] ProxyCell commented on #195
Thanks a lot! I never came across the issue when using HandBrake-GUI or CLI, ffmpeg and such because I never ran de-interlacing on it.

Lets close this ticket off as its a bug in the upstream.

Now let me heap some praise on you man: I've spent MONTHS encoding my blu rays, DVDs, etc to h265 and then kept having to deal with two issues: speed - it took MONTHS, right? and the other was compatibility

[2018-02-13 03:57] #195 closed

[2018-02-13 04:09] donmelton commented on #195
@ProxyCell You are very welcome and thanks so much for using my tools! I'm glad they're working so well for you. This is exactly why I do it. :)

Just so you know, I use `--veryquick`myself  to transcode my entire video library. And that library is huge. Why waste time, right? :)

In fact, my command line typically looks like this:

[code]

And they look great! Honestly it's very difficult to tell

[2018-02-13 06:53] ProxyCell commented on #195
Yeah. I decided its best to spend my time WATCHING rather than ENCODING!

Any chance that "--abr --veryquick --target small" can be combined?

[2018-02-13 15:39] donmelton commented on #195
@ProxyCell I wouldn't combine those since they're all very different.

[2018-02-13 21:45] donmelton commented on #113
OK, folks, it's been over a year since we visited this proposal. I'm re-opening it now for reconsideration.

To be clear, all I'm talking about is changing the default behavior, not the ability to get two main audio tracks, i.e. at least one in stereo AAC format, when you need them. That would still be available by doing this:

[code]

So all your legacy devices would still be supported.

Have any

[2018-02-13 22:30] samhutchins commented on #113
My playback hardware is the same as last time, but my `transcode-video` command is so damn long at this point anyway, I don’t mind adding a little more.

However, I suspect most people use the defaults, and I still think AC3 decoding is not as ubiquitous as you’ve suggested; for example these new default aren’t playable on my Roku 2. And as ever, I don’t trust on-the-fly downmixing. Those are my t

[2018-02-13 22:33] donmelton commented on #113
@samhutchins Thanks for the feedback! I was hoping you would repeat here what you put in email.

[2018-02-13 23:01] RodBrown1988 commented on #113
At this stage I'm capable and would personally use the new defaults. Reduced file size by not including another track is always a win. I'm also curious about running back and re-transcoding to get these and other improvements.

Personally I'd be in favour of the change with some clear documentation about how to get legacy support, but I leave this to the majority to get a feel for how many people

[2018-02-13 23:03] donmelton commented on #113
@RodBrown1988 Thanks for the feedback! Yes, there would be clear (and likely repeated) documentation about how to get the legacy behavior.

[2018-02-13 23:05] rhapsodians commented on #113
Hi Don,
Interesting idea but I think we need to look at the assumptions and consequences.

By just having AC3 5.1, we’re assuming that all sound will be either played through a 5.1 (or even 3.1) system OR the playback h/w and client s/w will have the ability to downmix on the fly without a playback performance hit.

So thinking about setups - I have everything coming via a Zotac i5 fanless Plex se

[2018-02-14 08:44] damorrison commented on #113
For me, it’s all about doing it right, once.

I have a decent Sonos 5.1 setup and a big 4K tv that I use most of the time, however there are times when I’ll be watching my Plex remotely, or I’ve downloaded a couple of movies onto a laptop, iPad or even iPhone.

For the 5.1, this change won’t make any difference but it’s the latter that would niggle at the back of my mind, as ‘something’ else is do

[2018-02-14 09:28] rhapsodians commented on #113
Thanks for the additional info Don. If I were to collapse down my concerns (similar to Dave above), it would be:   Assuming we have only have one 5.1 AC-3 in the mkv/mp4, then when would it be better to also add a dedicated stereo track?

Many of us will add the appropriate flags as required as we’ve followed your lead for many years but I’m thinking of people new to transcoding in this instance.

[2018-02-14 14:17] elliotclowes commented on #113
I include both the stereo and surround tracks in my encodes as only 2 of the 8 TV's that connect to my Plex server support surround sound. And I've found Plex to be slightly more reliable and faster when it can just passthrough what's being played rather than transcoding it.

But that doesn't really matter. This isn't a discussion about the pros and cons of including two tracks in our transcodes.

[2018-02-14 17:12] donmelton commented on #113
@damorrison Thanks for the feedback! When you are using Plex, I assume that you have to keep changing the default audio track depending on whether you're watching locally or remotely? And is remembering to select the correct track on your iPad or iPhone problematic? Or do you transcode to MP4 format?

@rhapsodians Thanks for even more feedback! To answer your first question, it's useful to add a d

[2018-02-14 20:20] rhapsodians commented on #113
Don, glad the feedback is useful and trigged some ideas ... we’re all on your side Gramps and here to help because you completely nailed a problem we all had/have: getting the best out of digitising our physical BR/DVD media. Everyone wins :-) And I remember to good ol’ days too and before I discovered you chatting about this stuff with Rene many years ago. 384kbps, the old scripts and hours of ri

[2018-02-14 20:49] donmelton commented on #113
@rhapsodians It's a deal on the bottle of wine, sir! :)

You are very welcome for the tools. And you're right, there's much research to be done with the move to HDR, HEVC, 4K and E-AC-3. I only wish all of those technologies were accessible at the speeds we're used to with AVC and 1080p. :( But it will get there. Eventually.

I agree that any change in the default behavior will have to be _loudly_

[2018-02-18 20:48] donmelton commented on #160
@dodekeract Sorry that I missed this yesterday. That's a very handy link. Thanks!

[2018-02-19 04:19] donmelton commented on #113
@samhutchins @RodBrown1988 @rhapsodians @damorrison @elliotclowes and everyone else who responded to the original proposal, I'm closing this for now. Of course, I'll probably revisit the issue. Maybe suggesting the default width of the main audio track be _stereo_ instead of double. (That would probably make Sam happy. :) But who knows.

Anyway, thanks again for all your feedback! And feel free to

[2018-02-19 04:19] #113 closed

[2018-03-02 04:50] jasonwoerner opened #196 "Multi language and subtitles"
Just looking for some guidance here, as I'm doing something I would think is pretty common.

I have blu-rays of foreign language films. I want to rip and transcode such that I maintain both English language [dub] and foreign language tracks, and also the subtitles for the foreign language track. I'm having a lot of trouble accomplishing this with transcode-video's parameters. I'm looking to output

[2018-03-02 05:32] donmelton commented on #196
@jasonwoerner Yes, all this is possible with `transcode-video`, except for adding a Blu-ray Disc or DVD image-based subtitle track to an MP4 file. I'm sorry, but you can't do that. If you try to add one, `HandBrakeCLI` will just burn the subtitle into the video instead of adding it as an separate track. And I can't prevent that behavior.

So, You'll either have to convert that subtitle to a text f

[2018-03-02 05:41] donmelton commented on #196
@jasonwoerner BTW, if you _only_ want the second audio track in AC-3 format, then just change that command to this:

[code]

Setting the width to `surround` means you get only AC-3 format if the original track is in surround format.

[2018-03-02 05:56] jasonwoerner commented on #196
Don, your answer makes sense, and I'm very grateful to be able to get such a good one in such a short period of time. Much appreciated and, of course, thank you for the work you put into a terrific wrap-around tool.

[2018-03-02 05:58] donmelton commented on #196
@jasonwoerner You are very welcome, sir! I'm glad it's useful to you. Let me know if you need further assistance.

[2018-03-02 05:59] #196 closed

[2018-03-05 18:19] sixshooterz opened #197 "Delete or Archive Original Upon Completion"
Forgive me if this has been answered already, I’ve looked thru the Issues both open and closed and haven’t found an answer.

Is there an option to remove the original file(s) or move them to an archive folder upon successful transcoding or must this be done manually?

Thanks in advance!

[2018-03-05 18:26] donmelton commented on #197
@sixshooterz I believe there might have been a discussion about this in an unrelated issue. But I can't find it either. :)

There is no option to delete original files and there never will be. Sorry. This is an idea fraught with danger, not to mention having security implications.

There is no option to archive original files because "archive" has too many meanings to engineer a one-size-fits-all

[2018-03-05 18:30] sixshooterz commented on #197
It absolutely does and makes 100% sense! I thought as much but it never hurts to ask.

My mention of archive was a temporary holding place for the original file(s) in case upon inspection of the transcoded version there was an issue the original could simply be copied back. I’ll take a look at the batch control page.

Thank you for such a speedy reply!

[2018-03-05 18:30] #197 closed

[2018-03-05 20:30] donmelton commented on #197
@sixshooterz You are very welcome! And feel free to comment here or open another issue if you have questions about modifying the batch file.

[2018-03-07 03:35] eseglem opened #198 "Detect Crop on 4k videos fails because ffmpeg always reports 0:0:0:0"
I have recently started ripping my 4k Blu-Rays with MakeMKV and was trying to make them more portable via your awesome scripts. Unfortunately, ffmpeg is always detecting no crop, and HandBrakeCLI detects it correct. So the only time detect-crop doesn't fail is the one movie I have which actually doesn't need to be cropped.

I know that is likely an issue with ffmpeg, and not your fault. I also kno

[2018-03-07 04:06] donmelton commented on #198
@eseglem Congratulations on having so many 4K discs that MakeMKV can actually rip! I don't have any, which is why I haven't seen this particular failure with FFmpeg.

The good news is that you can tell `transcode-video` to only apply HandBrake crop values (if you trust it) by using `--crop auto` instead of `--crop detect`.

However, if you still want to leverage both HandBrake and FFmpeg for detec

[2018-03-07 04:20] donmelton commented on #198
@eseglem BTW, I just found a 4K video to test and it looks like FFmpeg does not return `0:0:0:0` for that one, at least.

Which version of and on which platform are you using FFmpeg?

[2018-03-07 04:44] eseglem commented on #198
Thanks for the quick response. That is exactly what I was looking for. Think I missed it because the only mention of `--fallback-crop` is in the release notes from 2016, and not the main crop documentation, might be worth mentioning it up there.

Although in the mean time, I have resigned myself to probably just manually specifying them. The wrapper I am working on will probably look into a crop d

[2018-03-07 04:56] donmelton commented on #198
@eseglem No problem. And I'll consider adding that to the README document but it's way too long the way it is now. :) That's why I always recommend people look in `--help` output first. They can usually find the option and behavior they're looking for there.

Yes, it's much better to save your eyeball-reviewed crop values rather than rely on automatic crop detection. In fact, this is what I recomm

[2018-03-07 05:29] eseglem commented on #198
Yeah, I totally skimmed over the part about using `--help`, that is my bad. I was just searching the readme for info on crop.

And yeah, I really wanted to be lazy when I wrote my initial post. Then I re-read that section, for probably the third time, and finally came around to it not actually that big a deal to do it that way. Just means I need to do more re-writing of the wrapper.

Haha yeah, ke

[2018-03-07 16:49] donmelton commented on #198
@eseglem Sorry I took so long to reply. I went to bed early last night. :)

Yeah, I haven't pursued 4K yet due to the data storage and transcoding time requirements. Plus, I would have to repurchase close to a thousand Blu-ray Discs. :) And even then, some of those would just be expensive upscaled versions of what I have now and not really sourced from 4K masters. See this website for details if y

[2018-03-07 17:24] eseglem commented on #198
Yeah, I went to bed too. Its all good.

I am not really planning on re-purchasing most of the Blu-rays, but I am only buying new stuff on 4k. I started buying the disks before I had a TV for them, just to future proof myself, and tha'ts still only a handful of movies. That is a very handy link so I can convince myself its not worth 'upgrading.' A few of the ones I was contemplating are 'Fake 4k' s

[2018-03-07 17:24] #198 closed

[2018-03-07 17:33] donmelton commented on #198
@eseglem Just so you know, the `--quick` and `--veryquick` options don't work with the `x265` encoder. And while my special, or default, ratecontrol system _does_ work with `x265`, it hasn't been tuned for that codec. You might want to try `--abr`, my new average bitrate ratecontrol system, with `x265` instead. The ABR algorithm works the same way for `x265` as it does `x264`.

Also, recent HandBr

[2018-03-07 17:58] eseglem commented on #198
That would explain some of it then. I just kicked something off half asleep
last night to test. Is that a matter of tuning, or difference in encoders?
I will play with that more as well, and look into the nightly HandBrake as
well. Problem with any of that stuff is I don't actually have an HDR screen
to test on. Might be better to just let it be at 8bit for now, and redo it
later....but since the

[2018-03-07 19:25] donmelton commented on #198
@eseglem Thanks! Yes, please let me know.

And, yes, the tuning is due to the differences between the two encoders. My special ratecontrol system still _works_ with `x265`, but I'm sure it could be improved once I have enough time to collect metrics and perform more tests. The problem is that HEVC encoding is more than twice as slow as H.264. So I'll need a significant hardware upgrade before I st

[2018-03-17 15:08] ddribin opened #199 "Advice on how to combine/append two MKVs into one transcoded MP4"
I used MakeMKV to rip a DVD I have and it resulted in two title files: `title00.mkv` and `title001.mkv`.  Is there a way to combine them when doing the transcode? I'd actually to put `title001.mkv` first.

I tried using `mkvmerge` on them:

    mkvmerge -o dvd.mkv title01.mkv title00.mkv

But using `transcode-video` on `dvd.mkv` only transcoded the first title.

I tried using the "append" option o

[2018-03-17 16:19] donmelton commented on #199
@ddribin No, using the `+` is the simpler syntax for appending files with `mkvmerge`. Since you didn't supply a `--append-to` option, hence the peculiar warning, you got the default or standard mapping. Which was fine seeing as how `transcode-video` didn't have any problem with it.

The curious thing is why MakeMKV gave you two files in the first place. Are you sure you selected the correct playli

[2018-03-17 17:57] ddribin commented on #199
It's probably the oddball DVD I have? It's called "The Theory and Practice of Juggling" and I bought it 8 or 9 years ago. Looks like they now sell it as 15 separate downloadable video files:

  http://thewjfstore.com/item/5715892c6edca00338d953a6

In any case, here's the MakeMKV screen shot:

<img width="851" alt="makemkv" src="https://user-images.githubusercontent.com/20428/37558442-38b9061c-29e2

[2018-03-17 18:15] ddribin commented on #199
Also, even if I use `--append-to`, I still get this warning:

[code]

I don't get that warning. Why is it a problem that the lengths are different? Seems like that would be not uncommon for appending.

[2018-03-17 18:31] donmelton commented on #199
@ddribin Ah. Yeah, that's a weird DVD. Mastering of discs can be... random at times. :)

As to `mkvmerge` and it's overly cautious warnings, I have no idea. And I agree, your scenario seems like the common behavior for appending. Go figure.

[2018-03-18 04:16] ddribin commented on #199
Alright, we can close this issue, then. Sounds like it's just an oddball DVD and `mkvmerge` did work, despite the warning, so there's nothing actionable here.

[2018-03-18 04:16] #199 closed

[2018-03-18 04:18] donmelton commented on #199
@ddribin Thanks. Hopefully we can find a bug next time. :)

[2018-03-24 21:48] csvfx opened #200 "Mixdown option doesn't pass through correctly"
Hi Don!

Have tried to use the --handbrake-option flag to pass through a custom mixdown setting but that doesn't seem to get processed by transcode-video correctly. It seems to interpret the mixdown value as the video source path.

Here's an example command using transcode-video 0.19.0, under mac OS 10.12.6

No such file or directory - 6point1

[2018-03-24 21:59] donmelton commented on #200
@csvfx Thanks for writing such a clear problem report!

The reason why your command is failing is that you need an equal sign (`=`) between the name and value for the argument to `--handbrake-option`. Your command line should probably be this instead:

[code]

I write "probably" because the `mixdown` option in `HandBrakeCLI` requires a comma separated list of audio tracks if you're including more

[2018-03-25 15:55] donmelton commented on #200
@csvfx Did that fix the problem for you? If so, we can close this issue.

[2018-03-26 06:25] csvfx commented on #200
All seems to work, thanks!

[2018-03-26 06:25] #200 closed

[2018-03-30 10:46] damorrison opened #201 "AOM AV1 Codec"
Hi Don,

I was just wondering your thoughts on the newly agreed AOM AV1 codec, which seems to have a lot of support from the major streaming players.

Is it likely to have a place inside handbrake/ffmpeg and your scripts for archival, or is it more for the streaming world?

[2018-03-30 16:20] donmelton commented on #201
@damorrison Thanks for asking this here instead of Twitter. :) There's still not enough room in a tweet to respond properly to a question like this.

I haven't seen any AV1 content yet. I don't even know where any samples are. Since VLC 3.0 can actually decode an AV1 bitstream you would think the Alliance for Open Media would make samples available on their website but, alas, they don't seem to un

[2018-03-31 15:01] donmelton commented on #201
@damorrison Did my long, rambling response answer your question sufficiently? If so, can we close this now?

[2018-03-31 22:33] damorrison commented on #201
It seems it's still very early days for AV1. I was almost expecting that
now the standard has been agreed we'd see a lot more tools being made ready
for it but it seems not.

I did build the AV1 encoder from their website, but have yet to
successfully build anything with it (i expect it doesn't come with a
decoder, so needs uncompressed video as a source). I'll try and uncompress
a clip or two but

[2018-04-03 02:36] goodydc commented on #173
@donmelton I was a little late to the game with upgrading to High Sierra, but received the same error message as @joethezombie. I resolved my issue, and am good to go now, but thought I would share what I discovered while troubleshooting (before I found this thread :-/).

1. High Sierra upgraded the ruby version from 2.0 to 2.3
2. As noted in the error message, _detect-crop_ was trying to use ruby

[2018-04-03 02:40] donmelton commented on #173
@goodydc Thanks for the information!

That's a good idea. However, it might be better for folks to install Ruby using Homebrew instead of relying on the version which ships with macOS. That's what I do. I may change the README to include both strategies.

[2018-04-03 02:49] goodydc commented on #173
@donmelton Good call. I didn't install Ruby using Homebrew since Sierra already included a version that worked with your tools.

Thanks for all your hard work on these tools! :-)

[2018-04-03 02:53] donmelton commented on #173
@goodydc You are very welcome! And keep those useful comments coming.

[2018-04-06 07:10] Atalantia opened #202 "Subtitles include all, no burn in"
Hello,
I read that "transcode-video" does burn-in forced subtitles by default. How do I disable burn-in and how to tell "transcode-video" to just copy all the subtitles as they are?

[2018-04-06 17:28] donmelton commented on #202
@Atalantia My apologies for taking so long to respond. I missed the notification from GitHub.

If you examine the output of `transcode-video --help` you'll find this in the description of its many options:

[code]

And above that description in the same `--help` output you'll find a description of the `--add-subtitle` option and its various arguments. To add all subtitles that argument should simp

[2018-04-17 19:56] sojojo commented on #189
@eltito51, I know this issue is closed, but I wanted to share an alternative solution to the foreign language audio/subtitle tracks issue on Ubuntu for Linux Windows Subsystem: use Debian instead. It does not have this problem.

[2018-04-18 19:23] huwtheb opened #203 "convert-video cannot find a compatible video track"
I've ripped a couple of DVDs using MakeMKV, now want to convert that MKV using convert-video. When I do, I get a "no compatible video track" message.

Using mkvmerge -i, it appears the video track is MPEG-1/2. Not sure if convert-video does not like that.

Is there a way to convert this type of video track?

[2018-04-18 20:11] donmelton commented on #203
@huwtheb Sorry I took so long to respond. I was at lunch.

My `convert-video` tool is designed to convert a video file from Matroska (MKV) to MP4 format or from MP4 to Matroksa format without transcoding the video. It's mostly useful as a helper utility for my `transcode-video` tool if want to switch formats after transcoding, e.g. you forgot to use the `--mp4` option when you invoked `transcode-v

[2018-04-18 20:43] huwtheb commented on #203
Right, got it. Thanks, Don.

[2018-04-18 21:02] donmelton commented on #203
@huwtheb No problem! Glad that helped.

I'll close this now but feel free to comment here again or open another issue. I get the notifications either way. :)

[2018-04-18 21:02] #203 closed

[2018-04-27 22:45] zulhfreelancer opened #204 "Question - can I use this to reduce/compress video file size?"
Hi,

I have some videos in various formats i.e. MP4, MOV, AVI, WMV & etc.

I found this awesome project and it looks promising. But I'm not sure whether this tool is suitable for what I'm currently building or not.

Does it posibble to use this tool to...

- compress all the video sizes to lowest possible size
- maintain the video and audio quality
- make all of them (the output) in MP4 format (I

[2018-04-28 00:17] donmelton commented on #204
@zulhfreelancer Yes, that's exactly what this project is designed for. :)

If the "README" or the built-in documentation via `transcode-video --help` don't answer your questions on how to do that, please feel free to ask again here.

[2018-04-28 07:05] zulhfreelancer commented on #204
Noted. Thanks @donmelton!

[2018-04-28 07:05] #204 closed

[2018-05-01 23:42] ggrats commented on #201
as of now ffmpeg 4.0 supports av1 via libaom

[2018-05-02 00:57] donmelton commented on #201
@ggrats Unfortunately, decoding and encoding with libaom are not enabled by default in FFmpeg 4.0 and there doesn't appear a way to enable them via Homebrew build options. Unless, of course, you know of a way to do that.

[2018-05-02 01:13] ggrats commented on #201
I just compiled libaom and ffmpeg with --enable-libaom, but 1 minute of encode time for h265 is about 50 hours for av1 so not sure it's worth it to anyone.. yet (maybe?) I've never used homebrew so no idea

[2018-05-02 09:43] chrisridd opened #206 "Problems nohup'ing transcode-video"
If I background and nohup transcode-video, it runs for a few seconds and then stops:

[code]

However, if I redirect `/dev/null` to stdin, this works fine. I'm almost certain I didn't need to redirect stdin a few months ago, so I'm wondering if there's been a regression somewhere. If nothing else, it might be useful to document this oddity.

I can't imagine what sort of user input is ever expected

[2018-05-02 15:06] donmelton commented on #206
@chrisridd Thanks for opening this issue.

AFAIK, there's been no change to `transcode-video` itself that would cause this behavior. More than likely this is caused by either a change to `HandBrakeCLI` (as you suspected) or Ruby.

Can you try this with the previous release of `HandBrakeCLI` and let me know what happens? Thanks.

[2018-05-03 12:46] chrisridd commented on #206
I used transcode-video's `--dry-run` option to get the HandBrakeCLI command-line, and it looks like HandBrakeCLI 1.0.0 and later appear to read stdin for some reason. Earlier versions of the CLI failed to run due to incompatible parameters, so I'm not sure when then started happening.

I've raised HandBrake/HandBrake#1316

[2018-05-03 14:53] donmelton commented on #206
@chrisridd You're seeing incompatible parameters because `transcode-video` adjusts the command line it sends to `HandBrakeCLI` based on the version and capabilities it detects at the time of invocation. More than likely the problem you're seeing can be corrected by substituting the newer `--auto-anamorphic` option with the older `--strict-anamorphic` option.

BTW, the minimum version that `transco

[2018-05-06 21:49] j3d1c4nna opened #207 ""No compatible video track" error when trying to use convert-video"
Hi Don

I've been using transcode-video and convert-video for many months now, with no issues. Today, though, I ripped a DVD using MakeMKV as normal and when simply trying to convert it to MP4 using convert-video, I received the error "No compatible video track". There doesn't appear to be anything weird or different about this rip, so I can't figure out what's wrong.

As a little test, I then tri

[2018-05-07 13:36] donmelton commented on #207
@j3d1c4nna By default, FFmpeg will transcode your video and audio. You have to explicitly tell it to copy each stream. And even then, it wouldn't copy MPEG-2 video into a MP4 output container.

I recommend just using the default options with `transcode-video`. If the quality doesn't seem good enough to you, try adding `--target big` to your command line to increase the video bitrate.

Using VLC is

[2018-05-07 13:41] j3d1c4nna commented on #207
Hi

Thanks for the useful advice and for your time. Happy for the issue to be closed.

Regards

Doug

--

[2018-05-07 13:42] #207 closed

[2018-05-10 09:25] markmarz opened #208 "audio question: why mkv audio output ordered differently than mp4?"
Until recently I converted all MakeMkv output to .mp4 with transcode-video. Often the main audio is 5.1, which transcode-video handles by creating a stereo AAC track from it and placing that track as the first track and copying the original 5.1 audio as the second track.

But recently I've been trying .mkv output and I noticed the same conversion takes place, but the generated stereo AAC track is

[2018-05-10 14:37] donmelton commented on #208
@markmarz Yes, you can add the `--reverse-double-order` option to your `transcode-video` command line when your output format is MKV to mimic the track order of MP4 output. Here's the description of that option from the `--help` output:

[code]

Let me know if you have any other questions. Otherwise we can probably close this issue.

[2018-05-10 15:53] markmarz commented on #208
@donmelton I'm sorry. I should have dug further, I never saw that option. Thanks Don!

[2018-05-10 15:53] #208 closed

[2018-05-10 15:55] donmelton commented on #208
@markmarz No worries, sir! That `--help` output is huge. :) And you're very welcome.

[2018-05-18 23:12] ddribin opened #209 "transcoding failed"
Hi Don,

It's me again. ;-) I tried converting an MKV I ripped from a Blu-ray and it failed. See attached [2016_World_Series_Game_1_t02.mp4.log](https://github.com/donmelton/video_transcoding/files/2018857/2016_World_Series_Game_1_t02.mp4.log)

[code]

Here's the MakeMKV screen shot, when I created the MKV:

<img width="1262" alt="screen shot 2018-05-18 at 5 27 44 pm" src="https://user-images.gith

[2018-05-19 00:36] donmelton commented on #209
@ddribin Hello again! :)

The only curious thing in that the `.log` file you included is the size of the input video: `1280` x `720` pixels. I've never seen that on a Blu-ray Disc before.

Is this actually your entire command line?

[code]

Or did you include other options?

Also, can you attach the output of this command?

[code]

That will tell me much more about your input media.

Thanks.

[2018-05-19 02:45] ddribin commented on #209
Yup, that was the whole command. Attached: [transcode-video-scan.txt](https://github.com/donmelton/video_transcoding/files/2019057/transcode-video-scan.txt)

And here's a MakeMKV screen shot showing that the source is indeed 720p:

<img width="1262" alt="screen shot 2018-05-18 at 9 36 46 pm" src="https://user-images.githubusercontent.com/20428/40264173-db39c0f2-5ae3-11e8-85ac-10ddca492dd3.png">

F

[2018-05-19 03:13] donmelton commented on #209
@ddribin Thanks! Unfortunately I can't find any smoking gun in that scan output. Dang.

OK, let's use the `--dry-run` option and take `transcode-video` out of the equation. Execute this command:

[code]

And then copy the output back to the command line to invoke `HandBrakeCLI` directly.

If that still fails, then we've found a bug in HandBrake. You can then try elimination options to find out wha

[2018-05-19 04:51] ddribin commented on #209
Yup! HandbrakeCLI is crashing: [HandbrakeCLI-fail.txt](https://github.com/donmelton/video_transcoding/files/2019136/HandbrakeCLI-fail.txt)

I *did* just upgrade to HandbrakeCLI version 1.1.0. I could try downgrading, to see if that helps.

Thanks for that MakeMKV tip! Maybe that's causing problems, too.

[2018-05-19 04:59] donmelton commented on #209
@ddribin Before you downgrade, try removing `--rate=30` from that `HandBrakeCLI` command line and see if that fixes the problem. If it doesn't try also removing `--pfr`.

[2018-05-19 05:02] ddribin commented on #209
Still segfaults with both of those removed:

[code]

Apparently I already deleted the old version of Handbrake from `brew` and there's no easy way to get it back. *sigh*

[2018-05-19 05:07] donmelton commented on #209
@ddribin Damn. OK, try this next: replace `--audio=1 --aencoder=ca_aac` with `--audio=none` and see what happens.

[2018-05-19 05:08] ddribin commented on #209
Still segfaults.

[2018-05-19 05:09] ddribin commented on #209
It's crashing here:

[code]

[2018-05-19 05:16] donmelton commented on #209
@ddribin Woof. OK, strip that command down to the essentials! Try something simple like this:

[code]

[2018-05-19 05:30] ddribin commented on #209
Well, so it gets more interesting. The Handbrake app, also version 1.1.0, does *not* crash. It's chugging away right now:

<img width="997" alt="screen shot 2018-05-19 at 12 30 28 am" src="https://user-images.githubusercontent.com/20428/40265331-d961ec9c-5afb-11e8-9308-d21405cf2467.png">

[2018-05-19 05:32] donmelton commented on #209
@ddribin Hmmm, I suspect there might be something odd about your command line environment then. Not sure what to tell you at this point.

[2018-05-19 05:57] ddribin commented on #209
I just tried a "brew uninstall" and a "brew install", and it still crashes. Ah, well. I guess I'll just watch the disc, then. ;-)

[2018-05-19 13:38] ttyS0 commented on #209
Perhaps try a nightly build of just the HandBrakeCLI? ( https://handbrake.fr/nightly.php )

By definition a nightly build is expected to be buggier than a regular release, but perhaps the specific bug that you're being bitten by has been resolved either directly or indirectly.

Just thought it was worth a chime in from the peanut gallery. 😸

[2018-05-19 15:48] donmelton commented on #209
Thanks, @ttyS0! That's a good idea.

[2018-05-19 18:27] donmelton commented on #209
@ddribin So, do you want to open an issue for the HandBrake developers on their project? Otherwise I'm not sure what else we do here.

[2018-05-20 20:34] ddribin commented on #209
I just tried the HandbrakeCLI v1.1.0 binary [directly from handbrake.fr](https://handbrake.fr/rotation.php?file=HandBrakeCLI-1.1.0.dmg), and it works. So somehow the version getting built by `brew` is busted.

[2018-05-20 20:45] donmelton commented on #209
@ddribin Excellent! This is probably why I never install `HandBrakeCLI` itself using `brew`. :)

OK, I think this is resolved then so I'll close the issue. Although you might want to open one on that particular Homebrew tap.

[2018-05-20 20:45] #209 closed

[2018-05-22 16:37] ddribin commented on #209
I opened up [Homebrew issue #28139](https://github.com/Homebrew/homebrew-core/issues/28139): handbrake v1.1.0 installed via Homebrew crashes, but not the official binary installed from handbrake.fr

[2018-05-22 16:37] ddribin commented on #209
@donmelton Thanks again for your help!

[2018-05-22 16:59] donmelton commented on #209
@ddribin You are very welcome, sir! Your issues are never dull. Keep them coming. :)

[2018-05-23 05:18] vinyldarkscratch commented on #209
Hey all, I saw the issue on Homebrew and decided to try my 🍀with it.  Interestingly enough, I was able to get `HandBrakeCLI` via `brew` to work first try!  I also noticed in the gist-logs that you're using macOS 10.13.5, @ddribin, which I believe is a beta version of macOS, so maybe that has something to do with the issue?

[2018-05-23 06:04] ilovezfs commented on #209
The prebuilt bottles are fine, but you're triggering a source build because you're using a non-standard prefix, and there's something wrong with the source build.

So to be clear:
Prebuilt binary from upstream: fine
Prebuilt binary from Homberew: fine
Current source build: not so fine

A bit off the mark given the prebuilt binaries from Homebrew are working fine. It does help to have facts before

[2018-05-23 08:44] ilovezfs commented on #209
Reported upstream https://github.com/HandBrake/HandBrake/issues/1351

[2018-05-23 15:46] ddribin commented on #209
Ditto! Thanks @donmelton, @vinyldarkscratch, and @ilovezfs for getting to the bottom of this.

[2018-06-12 10:22] dm30 commented on #26
Hi! What did end up happening with DD+? It is still not available as an output choice with Handbrake 1.1. Is it a way to implement through command line? How do you define mixdown choice, bitrate, etc?
Thank you!

[2018-06-12 14:40] donmelton commented on #26
@dm30 See my previous comments in this issue here or in the release notes:

https://github.com/donmelton/video_transcoding#0190

TL;DR: Dolby Digital Plus (aka Enhanced AC-3) is now supported by HandBrake, `transcode-video` and `convert-video`. However, Dolby Digital Plus output is currently NOT COMPATIBLE with the MP4 file format when using `transcode-video` due to a limitation in`HandBrakeCLI`.